
.mwg.claro {

    .modal_img {
        position: absolute;
        top: -77px;
        right: 270px;
    }

    .dijitDialog {
        //display:none;
        //position:relative;
        //width:660px;
        width:700px;
        //padding:95px 20px 0 20px;
        //border: 1px solid #759DC0;
        //border: none;
        background-color: #fff;
        border: 10px solid #dcdcdc;
        text-align: center;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        overflow: visible;
    }

    .dijitDialogTitleBar {
        //-moz-border-bottom-colors: none;
        //-moz-border-left-colors: none;
        //-moz-border-right-colors: none;
        //-moz-border-top-colors: none;
        //background-color: #ABD6FF;
        background-color: transparent;
        //background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
        background-image: none;
        //background-repeat: repeat-x;
        background-repeat: none;
        //border-color: -moz-use-text-color #FFFFFF #FFFFFF;
        border-color: none;
        border-image: none;
        //border-right: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        //border-style: none solid solid;
        border-style: none solid solid;
        //border-width: medium 1px 1px;
        border-width: none;
        //padding: 5px 7px 4px;
        padding: 0;

        //position: relative;
        //top: -10px;
        //height: 10px;
    }

    .dijitDialogTitle {
        color: none;
        //font-size: 1.091em;
        padding: 0;
    }

    .dijitDialogCloseIcon {
        display:block;
        width:63px;
        height:62px;
        position:absolute;
        top:-31px;
        right:-35px;
        background:transparent url('/images/close_btn.png') no-repeat 0 0;
        z-index: 990;

        //background: url("images/dialogCloseIcon.png") no-repeat scroll 0 0 transparent;
        //height: 15px;
        //position: absolute;
        //right: 5px;
        //width: 21px;
    }

    .dijitDialogPaneContent {
        //background: none repeat-x scroll left top #FFFFFF;
        //border-top: 1px solid #759DC0;
        border-top: none;
        //padding: 10px 8px;
        padding:95px 20px 0 20px;
        position: relative;

        label {
            color: #90C7F4;
            float: left;
            //cursor: pointer;
            //display: block;
            //margin: 0;
            //padding: 0;
            //position: relative;
            //text-align: left;
            //z-index: 1;
        }
        .dijitCheckBox {
            float: right;
            //left: 330px;
            //margin: 0;
            //position: absolute;
            //top: 4px;
            //z-index: 0;
        }

        h1 {
            color:#19222b;
            font:normal 40px 'CoreHumanistSansRegular',arial, helvetica, sans-serif;
            margin:0 0 30px 0;
        }
        h2 {
            color:#90c7f4;
            font:normal 35px 'CoreHumanistSansRegular',arial, helvetica, sans-serif;
            margin:0 0 25px 0;
        }
        //.single_btn{list-style:none;padding:0 0 0 246px;margin:0 0 35px 0;}
        //.btns{list-style:none;padding:0 0 0 160px;margin:0 0 35px 0;}
        //.btns LI{float:left;margin:0 42px 0 0;}
        .boxfooter {
            //padding: 12px 0 10px 0;
            margin: 0 0 35px;
            //background-color:#f0f0f0;
            //@include border-radius(3px);

            .mwgButton {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .email_opts {
            list-style:none;
            padding:0 0 0 131px;
            margin:0 0 25px 0;

            $section_width: 345px;
            $col_sep: 20px;
            .col_container {
                @include pie-clearfix;
            }
            .left_col {
                width: ($section_width - $col_sep)/2;
                float: left;
                padding-right: $col_sep;
                @include pie-clearfix;
                li {
                    @include pie-clearfix;
                }
            }
            .right_col {
                width: ($section_width - $col_sep)/2;
                float: left;
                @include pie-clearfix;
                li {
                    @include pie-clearfix;
                }
            }
            li.section {
                width: $section_width;
                padding:5px 25px;
                position:relative;
                @include pie-clearfix;
            }
            .seperator {
                width:395px;
                height:5px;
                background-color:#f2f2f2;
                padding:0;
                //margin:0;
                margin-top: 20px;
            }
        }
        .search {
            margin:0 0 22px 0;
            text-align:center;
            padding:9px 20px;
            width:302px;
            color:#19222b;
            font: normal 14px 'CoreHumanistSansRegular',arial, helvetica, sans-serif;
            background-color:#fff;
            border:1px solid #90c8f5;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            -khtml-border-radius:3px;
            border-radius:3px;
        }
        .userswrap{
            max-height: 280px;
            @include pie-clearfix;
            padding:0 1px 0px 8px;
            margin:0 0 35px 0;
            overflow: auto;
        }
        .userbox {
            padding:17px;
            border:1px solid #e9e9e9;
            //width:282px;
            width:270px;
            float:left;
            margin:0 7px 7px 0;
            ul {
                list-style:none;
                li {
                    float:left;
                    @include ellipsis;
                }
                li.extrapad{padding:15px 0 0 0;width:195px;text-align:left;}
                li img{display:block;margin:0 18px 0 0;padding:0;}
            }
        }
    }
}
