/* Post List */
.fbPostList ul{list-style-type: none; margin: 0; padding: 0;}
.fbPostList ul li {border-color: #E9E9E9; border-width: 1px 0 0; border-style: solid; display: block;}

/* Main */
.fbPostWrapper{width: 650px;}

.fbPost {
    margin: -2px 0 2px;
    border-style: solid;
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    text-align: left;

    a {
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
    }
    .userPicture {
        margin-right: 10px;
        margin-bottom: 14px;
        padding-top: 14px;
        float: left;
    }

    /* Post Content */
    .mainWrapper {
        margin: 14px 35px 14px 0;
        padding-top: 14px;
    }
    .contentBlock {
        display: table-cell;
        vertical-align: top;
        width: 999px;
        ul{
            margin:0;
            li {
                //width:100%;
                float:none;
            //    min-height:40px;
            }
        }
    }
    .userName {
        font-weight: bold;
        padding-bottom: 3px;
    }
    .message {
        color: #000000;
        margin: 0 0 5px !important;
    }

    /* Attachment - Link */
    .linkPicture{
        margin-right: 10px;
        float: left;
    }
    .linkWrapper {
        color: gray;
    }
    .desc {
        margin-top: 5px;
    }

    /* Comments */
    .commentItem {
        display: block;
        background-color: rgb(237,239,244);
        border-bottom: 1px solid rgb(210,217,231);
        margin-top: 1px;
        padding: 5px 5px 4px;
        @include pie-clearfix;
    }
    .comment_user_picture {
        float: left;
        margin-right: 8px;
    }
    .new_comment {
        width:90%;
    }

    .postActions span{
        color:  #3B5998;
    }

    /* Misc */
    strong{
        color: #3B5998;
        font-weight: bold
    }

    .pointer {
        cursor: pointer;
    }

    .likeInfo {
        background-color: #EDEFF4;
        margin-top: 1px;
        padding: 4px;
        a {
            color: #3B5998;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.img50{height: 50px; width: 50px;}
.img32{height: 32px; width: 32px;}
.img_max90{max-height: 90px; max-width: 90px;}

$blueprint-grid-columns: 5;
$blueprint-grid-width: 50px;
//@debug $blueprint-container-size;
@import "blueprint/grid";
.userTooltip {
    .userCard {
        @include container;
        .userCover {
            @include column(5);
            img {
                width: 100%;
            }
        }
        .userPicture {
            @include column(1);
            //width: 50px;
            //height: 50px;
            vertical-align: top;
            img {
                width: 100%;
            }
        }
        .userLinks {
            @include column(4, true);
            a {
                color: black;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            .seeFriendship {
                text-decoration: none;
                color: #808080;
                font-size: 11px;
            }
        }
    }
}

.userListTooltip {
    a {
        color: black;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
