
.helpers {
    width: 236px;
    margin: 0 0 10px 2px;

    p {
        font: normal 12px 'CoreHumanistSansRegular',arial, helvetica, sans-serif;
        color: #de8910;
        text-transform: uppercase;
        padding: 10px 0 10px 0;
        @include pie-clearfix;
        span{color:#69a9dc;}
    }

    .num {
        float: left;
        font: normal 40px 'CoreHumanistSansRegular',arial, helvetica, sans-serif;
        color: #69a9dc;
        padding: 0 6px 0 6px;
    }

    .help_photos {
        list-style: none;
        border: 1px solid #fff;
        background-color: #fff;
        li {
            float: left;
            img {
                display: block;
                margin: 0 1px 0 0;
            }
            span {
                display: block;
                height: 34px;
                width: 46px;
                padding: 12px 0 0 0;
                background-color: #90c8f5;
                text-align: center;
                color: #fff;
            }
        }
    }
}
