


/* Wish/Step Edit
----------------------------------*/
.baseEdit {
    .up_img {
        position:absolute;
        top:19px;
        right:19px;
        display:block;
        width:126px;
        height:39px;
        background:transparent url('/images/btn.png') no-repeat 0 -371px;
        z-index: 9;
    }

    .dragrepos{
        position:absolute;
        //top: 177px;
        //left: 272px;
        //top: ((385px/2px)-(10px/2px));
        //left: ((575px/2px)-(12px/2px));
        top: 178px;
        left: 199px;
        width: 177px;
        height: 29px;
        background: transparent url('/images/icon_fb.png') no-repeat 0 0;
        display: block;
        //width: 30px;
        //height: 30px;
        //background: transparent url('/images/drag_reposition_icon.png') no-repeat 0 0;
        z-index: 9;
    }

    .error {
        border: 1px solid #f66a6a !important;
    }

    .blank_title {
        width: 515px;
        height: 37px;
        border: 1px solid #90c8f5;
        padding: 4px 30px 0 30px;
        margin: 0 0 11px 0;
        color: #19222b;
        //text-transform: uppercase;
        @include mainFont(20px);
        @include border-radius(3px);
    }
    .bigblank {
        width: 525px;
        height: 240px;
        border: 1px solid #90c8f5;
        margin: 0 0 11px 0;
        padding: 10px 20px 10px 30px;
        resize: none;
        @include secondaryFont(16px);
        @include border-radius(3px);
    }

    .dragdrop {
        cursor: pointer;
        overflow: hidden;
        width: 575px;
        height: 385px;
        display: block;
        margin: 0 0 11px 0;
        position: relative;
        &.dragdrop_border {
            border:1px solid #90c8f5;
        }
        background: transparent url('/images/droparea_bg.gif') no-repeat 0 0;
        @include border-radius(3px);

        img {
            min-width: 100%;
            min-height: 100%;
            position: relative;
        }
    }
    .dragdrop_upload {
        background:transparent url('/images/droparea_bg.gif') no-repeat 0 -383px;
    }
    //.dragdrop_file_hover {
    //    background: transparent url('/images/droparea_bg.gif') no-repeat 0 -300px;
    //}

    .error_box {
        display:block;margin:0 0 11px 0;
        .left {
            height:38px;
            float:left;
            display:block;
            width:2px;
            background:transparent url('/images/error_sides.png') no-repeat 0 0;
        }
        .right {
            height:38px;
            float:left;
            display:block;
            width:2px;
            background:transparent url('/images/error_sides.png') no-repeat -2px 0;
        }
        .cnt {
            height:30px;
            padding:8px 10px 0 10px;
            float:left;
            display:block;
            background:transparent url('/images/error_cnt.png') repeat-x;
        }
    }

    //.dndmsg {
    //    width: 300px;
    //    height: 30px;
    //    text-align: center;
    //    margin: auto;
    //    padding: 60px 0;
    //}

    //.publish {
    //    text-align:center;
    //    border:none;
    //    @include mainFont(16px);
    //    color:#fff;
    //    text-decoration:none;
    //    width:149px;
    //    height:48px;
    //    margin:0 0 0 22px;
    //    float:right;
    //    background:transparent url('/images/btn.png') no-repeat -298px 0;
    //    cursor:pointer;

    //    &:hover {
    //        background:transparent url('/images/btn.png') no-repeat -298px -48px;
    //    }
    //}
    //.publish_inv {
    //    text-align:center;
    //    border:none;
    //    @include mainFont(16px);
    //    color:#fff;
    //    text-decoration:none;
    //    width:149px;
    //    height:48px;
    //    margin:0 22px 0 0;
    //    float:right;
    //    background:transparent url('/images/btn.png') no-repeat -298px 0;
    //    cursor:pointer;
    //}

    //.upload {
    //    width: 212px;
    //    height: 37px;
    //    border: 1px solid #90c8f5;
    //    padding: 4px 100px 0 30px;
    //    @include secondaryFont(16px);
    //    @include border-radius(3px);
    //}

    //.blank {
    //    width: 282px;
    //    height: 37px;
    //    border: 1px solid #90c8f5;
    //    padding: 4px 30px 0 30px;
    //    @include secondaryFont(14px);
    //    @include border-radius(3px);
    //}

    //.dijitSelect {
    //    width: 307px + 5px + 30px;
    //}

}


/* Step New
----------------------------------*/
//$blueprint-grid-columns: 8;
//$blueprint-grid-width: 50;
//@import "blueprint/grid";
////@debug $blueprint-grid-columns;
////@debug $blueprint-grid-width;
////@debug $blueprint-container-size;
//.stepNew {
//    @include container;
//    //margin: 5px 0;
//    .stepImage {
//        @include column(2);
//
//        .imagePlaceholder {
//            height: 120px;
//            width: span(2) - 1px;
//            background-color: #f0f5f9;
//            border: 1px solid #90c8f5;
//        }
//
//        img {
//            max-width: span(2);
//        }
//    }
//    .stepContent {
//        @include column(6, true);
//    }
//}

/* stepView
----------------------------------*/
.stepView {
    .stepImg {
        margin: 0 0 37px 0;
        @include border-radius(3px);
        background-color: #f0f0f0;
        display: block;
        //max-width: 100%;
        overflow: hidden;
        width: 577px;
        height: 385px;
        img {
            position: relative;
            min-width: 100%;
            min-height: 100%;
        }
    }

    .stepDesc {
        padding: 0 40px 0 11px;
        margin: 0 0 40px 0;
        p {margin: 0 0 20px 0;}
    }

    .stepFooter {
        padding: 18px;
        background-color: #f0f0f0;
        @include border-radius(3px);
        position: relative;
        @include pie-clearfix;
        margin-bottom: 20px;

        .likeFb {
            float: right;
            //margin-right: 10px;
        }

        ul {
            list-style: none;
            li {
                float: left;
                &.who {padding: 5px 0 0 0;}
                span.userStep{font-size: 16px;}
            }
        }

        .userpic{
            margin: 0 10px 0 0;
            display: block;
        }
    }
}


/* Step Tabs
----------------------------------*/
//.stepController {
//
//}

.wishTab {
    .stepheader {
        width: 282px;
        padding: 0 0 21px 0;
        position: relative;
        background: #fff url('/images/gray_timeline.png') repeat-y;
    }

    .timeline_top {
        position: absolute;
        top: 0;
        left: 0;
    }

    .timeline_bottom {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .yellow_box {
        width: 240px;
        margin: 0 0 0 35px;
        padding: 12px 9px 9px 9px;
        background-color: #faf5da;
        @include border-radius(3px);

        &.thumbHover{background-color:#f2e293;}
        &.selected {background-color:#f2e293;}

        h2 {
            text-align: right;
            padding: 0 26px 0 0;
            @include mainFont(60px);
            color: #de8910;
            text-transform: uppercase;
            letter-spacing: -4px;
        }
        h3 {
            margin: 0 0 7px 0;
            text-align: right;
            padding: 0 26px 0 0;
            @include mainFont(22px);
            color: #de8910;
            text-transform: uppercase;
            letter-spacing: -0.8px;
        }

        .step_zero {
            margin:-2px 0 20px 0;
            position:relative;
        }
        .ribbon_step {
            position:absolute;
            top:-12px;
            right:0;
        }
        .ribbon_info {
            text-transform:uppercase;
            font-size:14px;
            text-align:center;
            padding:15px 0 0 0;
            display:block;
            width:79px;
            height:106px;
            background:transparent url('/images/ribbon_btn.png') no-repeat -241px 0;
        }
        .ribbon_percent {
            font-size:28px;
            color:#996633;
        }
        .ribbon_btn {
            text-decoration:none;
            color:#19222b;
            text-transform:uppercase;
            font-size:14px;
            text-align:center;
            padding:9px 0 0 0;
            display:block;
            width:79px;
            height:106px;
            background:transparent url('/images/ribbon_btn.png') no-repeat 0 0;
            &:hover {
                background:transparent url('/images/ribbon_btn.png') no-repeat -160px 0;
            }
            &:active {
                background:transparent url('/images/ribbon_btn.png') no-repeat -80px 0;
            }
        }

        .ribbon_btn_full {
            text-decoration:none;
            color:#19222b;
            text-transform:uppercase;
            font-size:14px;
            text-align:center;
            padding:9px 0 0 0;
            display:block;
            width:79px;
            height:106px;
            background:transparent url('/images/ribbon_btn.png') no-repeat -642px 0;
            &:hover {
                background:transparent url('/images/ribbon_btn.png') no-repeat -806px 0;
            }
            &:active {
                background:transparent url('/images/ribbon_btn.png') no-repeat -81px 0;
            }
        }

        .ribbon_default {
            display:block;
            width:79px;
            height:115px;
            background:transparent url('/images/ribbon_btn.png') no-repeat -322px 0;
        }

        .ribbon_done {
            display:block;
            width:79px;
            height:115px;
            background:transparent url('/images/ribbon_btn.png') no-repeat -725px 0;
        }

        .userbtns {
            padding: 0;
            @include pie-clearfix;
            li {
                margin: 0 0 6px 0;
                @mixin userbtn {
                    display: block;
                    width: 174px;
                    height: 24px;
                    padding: 7px 12px 0 54px;
                    @include mainFont(16px);
                    color: #69a9dc;
                    text-decoration: none;
                    @include border-radius(3px);
                }
                &.page {
                    background:#fff;
                    display: block;
                    padding: 7px 12px 0 12px;
                    @include mainFont(16px);
                    color: #69a9dc;
                    text-decoration: none;
                    @include border-radius(3px);

                    &.no_page {
                        width: 173px;
                        height: 24px;
                        padding-left: 55px;
                    }
                    .del {
                        background: #fff url('/images/icons.png') no-repeat 0px -395px;
                        width: 20px;
                        height: 20px;
                        margin-top: 10px;
                    }
                    .userbox {
                        width: 216px;
                        ul {
                            list-style:none;
                            li {
                                float:left;
                                @include ellipsis;
                            }
                            li.extrapad{
                                padding:15px 0 0 0;
                                //width:155px;
                                width: 135px;
                                text-align:left;
                            }
                            li img{
                                width: 40px;
                                display:block;
                                margin:0 18px 0 0;
                                padding:0;
                            }
                        }
                    }
                }

                .privacy {
                    cursor: pointer;
                    display:block;
                    width:174px;
                    height:24px;
                    padding:7px 12px 0 54px;
                    @include mainFont(16px);
                    color:#de8910;
                    text-decoration:none;
                    background:#f6ebb2 url('/images/icons.png') no-repeat 18px -570px;
                    @include border-radius(3px);
                }

                &.fav {
                    cursor: pointer;
                    @include userbtn;
                    background: #fff url('/images/icons.png') no-repeat 18px -227px;

                    &:hover {
                        background: #f2f9ff url('/images/icons.png') no-repeat 18px -227px;
                    }
                    &:active, &.favselected {
                        background: #f2f9ff url('/images/icons.png') no-repeat 18px -201px;
                    }
                    //&.favselected {
                    //    background:#fff url('/images/icons.png') no-repeat 18px -201px;
                    //}
                }

                &.contact {
                    cursor: pointer;
                    @include userbtn;
                    @include ellipsis;
                    background: #fff url('/images/icons.png') no-repeat 18px -279px;
                    &:hover {
                        background:#f2f9ff url('/images/icons.png') no-repeat 18px -279px;
                    }
                    &:active {
                        background:#f2f9ff url('/images/icons.png') no-repeat 18px -253px;
                    }
                }

                &.edit{
                    cursor:pointer;
                    @include userbtn;
                    background:#fff url('/images/icons.png') no-repeat 18px -335px;
                    &:hover {
                        background:#f2f9ff  url('/images/icons.png') no-repeat 18px -335px;
                    }
                    &:active {
                        background:#f2f9ff url('/images/icons.png') no-repeat 18px -306px;
                    }
                }
                .delete {
                    cursor:pointer;
                    @include userbtn;
                    background:#fff url('/images/icons.png') no-repeat 18px -389px;
                    &:hover {
                        background:#f2f9ff url('/images/icons.png') no-repeat 18px -389px;
                    }
                    &:active {
                        background:#f2f9ff url('/images/icons.png') no-repeat 18px -363px;
                    }
                }
            }
        }   // .userbtns


        // Drowpdown Main
        .dijitSelectHover {
            background-image: none;
            .dijitArrowButton {
                .dijitArrowButtonInner {
                    background-position: 0 0;
                }
            }
        }

        .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
            background-position: 0 0;
        }
        .dijitSelectOpened .dijitArrowButton .dijitArrowButtonInner {
            background-position: 0 -25px;
        }

        .dijitSelect {
            @include mainFont(15px);
            color: #de8910;
            text-decoration:none;

            position:relative;
            height: 31px;
            width: 240px;

            border: none;
            @include border-radius(3px);
            border-collapse: separate;
            background: #f6ebb2 url('/images/mini_arrow_down.png') no-repeat 220px 15px;


            .dijitButtonContents {
                border: none;
            }
            .dijitArrowButtonContainer {
                border: none;
            }

            .dijitArrowButtonInner {
                background: none;
            }
            .dijitArrowButton {
                background: none;
            }
            // End Dropdown Main
        }
    }   // .yellow_box
}   // wishTab

.mwg.newwish, .mwg.wish {
    // Dropdown
    .onlyme {
        padding:7px 12px 0 54px;
        background:transparent url('/images/icons.png') no-repeat 18px -570px;
    }
    .jfriends {
        padding:7px 12px 0 54px;
        background:transparent url('/images/icons.png') no-repeat 13px -897px;
    }
    .ff {
        padding:7px 12px 0 54px;
        background:transparent url('/images/icons.png') no-repeat 8px -863px;
    }
    .public {
        padding:7px 12px 0 54px;
        background:transparent url('/images/icons.png') no-repeat 18px -829px;
    }
    .flist {
        padding:7px 12px 0 54px;
        background:transparent url('/images/icons.png') no-repeat 14px -797px;
    }

    .block {
        display: block;
    }

    .dijitSel {
        @include mainFont(15px);
        color: #de8910;
        text-decoration:none;

        position:relative;
        height: 31px;
        width: 240px;

        border: none;
        @include border-radius(3px);
        border-collapse: separate;
        background: #f6ebb2;
    }

    // Dropdown
    .dijitMenu {
        @include mainFont(15px);
        text-decoration:none;

        background-color: #faf5da;
        //border: 1px solid #de8910;
        border: none;
        //margin: -1px 0;
    }
    .dijitMenuItem {
        color: #de8910;
    }
    .dijitSelectMenu .dijitMenuItem td {
        border-bottom: 1px solid #de8910;
        border-left: 1px solid #de8910;
        border-right: 1px solid #de8910;
    }
    .dijitMenuTable {
        border-top: 1px solid #de8910;
    }
    // End Dropdown
}

.stepTab {
    width: 282px;
    position: relative;
    padding: 0 0 7px 0;
    background: #fff url('/images/gray_timeline.png') repeat-y;

    .step_selected {
        width: 243px;
        margin: 0 0 0 35px;
        padding: 8px;
        background-color:#c3def3;
        @include border-radius(3px);
    }

    .step_regular {
        width: 243px;
        margin: 0 0 0 35px;
        padding: 8px;
        background-color:#e3e3e3;
        @include border-radius(3px);
        //&:hover{background-color:#c3def3;}
        &.thumbHover{background-color:#c3def3;}
    }

    .step_title {
        text-transform:uppercase;
        //margin:6px 5px 8px 0;
        text-align:right;
        height: 30px;
        width: 85px;
        margin-bottom: 3px;
        //@include ellipsis;
        @include secondaryFont(12px);
        overflow: hidden;
    }
    .delete {
        margin-top: 43px;       // Take place of deleted edit button
        cursor: pointer;
        width:54px;
        height:26px;
        padding:5px 0 0 33px;
        display:block;
        color:#de8910;
        text-decoration:none;
        @include border-radius(2px);
        background:#fff url('/images/icons.png') no-repeat 8px -389px;

        &:hover {
            background:#faf5da url('/images/icons.png') no-repeat 8px -363px;
        }
    }
    .fulfilled {
        padding:3px 0 0 0;
        display:block;


        .enabled {
            cursor: pointer;
        }

        @mixin fulfillButton {
            display: block;
            width: 86px;
            height: 64px;
            //background-color: #fff;
            @include border-radius(3px);
        }
        .default {
            @include fulfillButton;
            background: #fff url('/images/btn.png') no-repeat -595px -206px;
            &:hover {background: #fff url('/images/btn.png') no-repeat -595px -338px;}
            &:active {background: #fff url('/images/btn.png') no-repeat -682px -272px;}
        }
        .done {
            @include fulfillButton;
            background: #fff url('/images/btn.png') no-repeat -682px -206px;
            &:hover {background: #fff url('/images/btn.png') no-repeat -682px -338px;}
            &:active {background: #fff url('/images/btn.png') no-repeat -595px -272px;}
        }
        .default_view {
            @include fulfillButton;
            background: #fff url('/images/btn.png') no-repeat -483px -337px;
        }
        .done_view {
            @include fulfillButton;
            background: #b1cb4c url('/images/btn.png') no-repeat -382px -337px;
        }
    }

}   // .stepTab
