
@mixin masonrySeparator{
    float:left;
    margin-bottom:12px;
    position:relative;
}
.masonrySeparator {
    @include masonrySeparator;
}

.wishCard {
    background-color:#f0f0f0;
    //padding:12px 12px 5px 12px;
    position:relative;
    @include border-radius(3px);
    @include masonrySeparator;


    a {
        text-decoration: none;
    }

    .wishimg {
        //padding: 0 0 45px 0;
        text-decoration: none;
        background-color: #5d646f;
        display: block;
        border: none;
        @include border-radius(3px 3px 0px 0px);

        //&:hover {
        //    opacity:0.5;
        //}

        .postimg {
            @include pie-clearfix;
            &.limitHeight {
                overflow: hidden;
                height: 179px;
                //width: 269px;
                width: 291px;
            }
            img {
                //width: 269px;
                width: 291px;
                display: block;
                border: none;
                @include border-radius(3px 3px 0px 0px);

                &:hover {
                    opacity:0.5;
                }

                &.limitHeight {
                    min-width: 100%;
                    min-height: 100%;
                    position: relative;
                }
            }
        }
        &:hover .postinfo {
            display: block;
            z-index: 40;
        }
    }

    .postinfo {
        @include pie-clearfix;
        //width: 269px;
        //padding: 20px 0 9px 0;
        //padding: 11px 0 0 12px;
        //@include secondaryFont(13px);
        //line-height: 17px;
        display: none;
        position: absolute;
        bottom: 90px;
        left: 0;

        ul {
            padding:11px 0 0 12px;
            li {
                list-style: none;
                margin:0 15px 0 0;
                float: left;

                @mixin btn_style {
                    //text-decoration: none;
                    display: block;
                    //width: 38px;
                    width: 36px;
                    //height: 24px;
                    height: 25px;
                    //padding: 5px 0 0 40px;
                    padding: 0 0 0 40px;
                    border: 1px solid #8a8a8a;
                    //color:#acacac;
                    //@include border-radius(3px);
                    @include border-radius(5px);
                }

                .likes {
                    //margin: 0 18px 0 0;
                    background: #f7f7f7 url('../images/icons.png') no-repeat 13px -1014px;
                    @include btn_style;
                }
                .comments {
                    //margin: 0 17px 0 0;
                    background: #f7f7f7 url('../images/icons.png') no-repeat 10px -1053px;
                    @include btn_style;
                }
                .shares {
                    //margin: 0;
                    background: #f7f7f7 url('../images/icons.png') no-repeat 10px -1093px;
                    @include btn_style;
                }
            }
        }
    }

    .favstar {
        cursor: pointer;
        z-index: 300;
        position: absolute;
        top: 8px;
        left: 0;
        display: block;
        height: 40px;
        width: 43px;
        background: transparent url('../images/fav_stars.png') no-repeat 0 -80px;
        &:hover {
            background: transparent url('../images/fav_stars.png') no-repeat 0 -40px;
        }
        &:active {
            background:transparent url('../images/fav_stars.png') no-repeat 0 0px;
        }
        &.favorited {
            background:transparent url('../images/fav_stars.png') no-repeat 0 0px;
        }
    }

    .postuser {
        @include pie-clearfix;
        //width:269px;
        width:275px;
        //padding:11px 0 0 0;
        padding: 8px;
        //border-top: 1px solid #e5e7e7;
        position: relative;
        .title {
            //margin: 0 0 15px 0;
            //padding: 0 10px;
            //color: #19222b;
            //margin: 0 0 0 0;
            //font-size: 15px;
            width: 155px;
            //line-height: 17px;
            @include ellipsis;
        }
        ul li {
            float:left;
            &.userpic {
                margin:0 10px 0 0;
                img {
                    display: block;
                    width:50px;
                    height:50px;
                }
            }
            &.username {
                //overflow:hidden;
                //margin:0 16px 0 0;
                width:170px;
                font-size:15px;
                //padding:3px 0 0 0;
                a {
                    vertical-align: middle;
                    display: inline-block;
                    width:136px;
                    @include ellipsis;
                }
            }
        }
        .fulfilled {
            position:absolute;
            top:0;
            right:8px;
            //right:10px;
            width:59px;
            height:80px;
            background:transparent url('../images/ribbon_fulfilled.png') no-repeat;
            z-index:100;
        }
        .hellouser {
            margin: 7px 0 0 0;line-height: 18px;
            a {
                text-decoration:none;
                color:#19222b;
            }
        }

    }

}

.wish_iframe {
    background-color:#f0f0f0;
    padding:12px;
    position:relative;
    @include border-radius(3px);
}


