
.wishSidebar {
    float: left;
    margin:0 0 0 23px;

    ul {
        list-style: none;
        li {
            float: left;
            &.seperator {
                margin:0 12px 12px 0;
                position:relative;
            }
        }
    }

    .timeline_full {
        position:absolute;
        top:0;
        left:0;
        background:#fff url('../images/blue_timeline.png') repeat-y;
    }

    .timeline_empty {
        position:absolute;
        top:0;
        left:0;
        background:#fff url('../images/gray_timeline.png') repeat-y;
    }

    .timeline_selected {
        position:absolute;
        top:0;
        left:0;
    }

    .arrow_selected {
        position:absolute;
        top:42px;
        left:23px;
    }


    .thumb {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        width: 150px;
        height: 100px;
        display: block;
        float: left;
        img{
            display: block;
            position: relative;
            //width: 100%;
            min-width: 100%;
            min-height: 100%;
        }
    }

    .step_counter {
        cursor: pointer;
        text-align: center;
        position: absolute;
        left: -5px;
        top: 48px;
        display: block;
        width: 20px;
        height: 22px;
        background: transparent url('../images/counter_bg.png') no-repeat 0 2px;
    }


    .stepfooter {
        width:282px;
        height:12px;
        margin:0 0 15px 0;
        position:relative;
        background:#fff url('../images/gray_timeline.png') repeat-y;
    }

    @mixin addstepMix {
        cursor: pointer;
        width:270px;
        height:116px;
        margin:0 0 0 22px;
        display:block;
    }
    .addstep {
        @include addstepMix;
        background:transparent url('../images/add_step.png') no-repeat 0 0;
    }

    .addstep2 {
        @include addstepMix;
        background:transparent url('../images/add_step.png') no-repeat 0 -122px;
    }
    .addstep3 {
        @include addstepMix;
        background:transparent url('../images/add_step.png') no-repeat 0 -244px;
    }

    .finish_wrapper {
        background: url("../images/gray_timeline.png") repeat-y scroll 0 0 white;
        padding-bottom: 21px;
    }
    .finish {
        background: url("../images/gray_timeline.png") repeat-y scroll 0 0 white;
        //margin: 0 0 21px 35px;

        cursor: pointer;
        width: 258px;
        height: 36px;
        padding: 12px 0 0 0;
        margin: 0 0 0 35px;
        display: block;
        background: transparent url('../images/btn.png') no-repeat 0 -208px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        @include mainFont(18px);

        &:hover{
            background:transparent url('../images/btn.png') no-repeat -258px -208px;
        }
        &:active{
            background:transparent url('../images/btn.png') no-repeat 0 -260px;
        }
    }
}   // wishSidebar
