{% extends "base.html" %}


{% block content %}
  <div class="top {{ page }}">
    <div class="taginfo">
      <h1>404<br/>not found!</h1>
      <p>The page you were looking for wasn't found.</p>
      <p>Try checking the url for errors and then hit the refresh button.</p>
      <p>Or click the button below to go to the homepage.</p>
      <a class="mwgButton mwgButtonSpecial" href="/">go to home</a>
    </div>
  </div>
{% endblock %}

