{% extends "skeleton.html" %}

{% block open_graph_tags %}
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ conf.FACEBOOK_NAMESPACE }}: http://ogp.me/ns/fb/{{ conf.FACEBOOK_NAMESPACE }}#">
    <meta property="og:title" content="MyWishGuru"/>
    <meta property="og:type"   content="website" />
    <meta property="og:image" content="{{ conf.EXTERNAL_HREF }}images/genie_head_700x700.png"/>
    <meta property="og:url" content="{{ conf.EXTERNAL_HREF }}"/>
    <meta property="og:site_name" content="MyWishGuru"/>
    <meta property="og:description" content="Use the power of your network to make your dreams come true."/>
    <meta property="fb:app_id" content="{{ conf.FACEBOOK_APP_ID }}"/>
{% endblock open_graph_tags %}

{% block javascript %}
{{ block.super }}
<script>
  require(['mwg/controller/useropts']);
</script>
{% endblock %}

{% block body %}
  <noscript><h1>Your browser does not support JavaScript!</h1></noscript>
  {% block header %}{% endblock %}

  {% block content %}{% endblock %}

  {% include "footer.html" %}
{% endblock %}
