{% extends "base.html" %}

{% block open_graph_tags %}
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ conf.FACEBOOK_NAMESPACE }}: http://ogp.me/ns/fb/{{ conf.FACEBOOK_NAMESPACE }}#">
    <meta property="og:title" content="{% if browse_user %}{{ browse_user.name }}'s Wishboard{% else %}Browse MyWishGuru{% endif %}"/>
    <meta property="og:type"   content="{% if browse_user %}profile{% else %}website{% endif %}" />
    <meta property="og:image" content="{% if browse_user and browse_user.type == "account" and browse_user.wishboard_cover %}{{ browse_user.wishboard_cover }}{% else %}{{ conf.DEFAULT_COVER }}{% endif %}"/>
    <meta property="og:url" content="{{ request_url }}"/>
    <meta property="og:site_name" content="{{ site_name }}"/>
    <!--
    <meta property="og:description" content=""/>
    -->
    <meta property="fb:app_id" content="{{ app_id }}"/>
{% endblock open_graph_tags %}

{% block javascript %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/js/jquery.masonry.min.js"></script>
<!--
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
-->
<script>
  require(['mwg/controller/browse']);
</script>
{% endblock %}

{% block header %}
{% if not user %}
  {% include "header_public_wish.html" %}
{% else %}
  {% include "header.html" %}
{% endif %}
{% endblock %}

{% block content %}
<div class="wrapper">

  <div class="wishContainer">
    <div class="filter">
      <ul>
        <li class="float_lt">
        <div id="showFilter" class="showFilter"></div>
        </li>
        <li class="float_rt">
          <div id="searchPage" class="sf">Search for a page</div>
        </li>
        {% if user %}
        <li class="float_rt">
          <div id="searchFriend" class="sf">Search for a friend</div>
        </li>
        {% endif %}
        <li class="float_rt">
          <div id="filter"></div>
        </li>
        <div class="clear"></div>
      </ul>
    </div>

    <div id="masonryContainer">
      {% if browse_user and active_user.key == browse_user.key %}
        {% if active_user.type == "account" %}
          <div id="wishboardCover" class="masonrySeparator wishboardCover clickable">
            <form id="coverUploadForm" method="POST" enctype="multipart/form-data">
              <input id="uploadCoverInput" class="outOfScreen" name="img" type="file" accept="image/png, image/jpeg, image/gif"></input>
            </form>
            <img id="coverImage" src="{% if account.wishboard_cover %}{{ account.wishboard_cover }}{% else %}{{ conf.EXTERNAL_HREF }}/images/cover.png{% endif %}"></img>
            <p class="upload_cover">Click to change cover</p>
          </div>
        {% else %}
          <div id="makewish" class="masonrySeparator">
            <a class="makewish" href="/newwish"></a>
            <p class="help_wish">Click to make a Wish<br/>and Share it</p>
          </div>
        {% endif %}
      {% else %}
        {% if browse_user and browse_user.type == "account" and browse_user.wishboard_cover %}
        <div id="wishboardCover" class="masonrySeparator wishboardCover">
          <img id="coverImage" src="{{ browse_user.wishboard_cover }}"></img>
        </div>
        {% endif %}
      {% endif %}
    </div>

  </div>

</div>
{% endblock %}
