<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ conf.FACEBOOK_NAMESPACE }}: http://ogp.me/ns/fb/{{ conf.FACEBOOK_NAMESPACE }}#">
    <meta property="og:title" content="{% if browse_user %}{{ browse_user.name }}'s Wishboard{% else %}Browse MyWishGuru{% endif %}"/>
    <meta property="og:type"   content="{% if browse_user %}profile{% else %}website{% endif %}" />
    <meta property="og:image" content="{% if browse_user and browse_user.type == "account" and browse_user.wishboard_cover %}{{ browse_user.wishboard_cover }}{% else %}{{ conf.DEFAULT_COVER }}{% endif %}"/>
    <meta property="og:url" content="{{ request_url }}"/>
    <meta property="og:site_name" content="{{ site_name }}"/>
    <!--
    <meta property="og:description" content=""/>
    -->
    <meta property="fb:app_id" content="{{ app_id }}"/>
  </head>
  <body>
  </body>
</html>
