<!doctype html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ conf.FACEBOOK_NAMESPACE }}: http://ogp.me/ns/fb/{{ conf.FACEBOOK_NAMESPACE }}#">
        <meta property="og:title" content="{{ selected_step.title }} - Wished by {{ wish_user.name }}"/>
        <meta property="og:type"   content="{{ conf.FACEBOOK_NAMESPACE }}:wish" />
        <meta property="og:image" content="{% if selected_step.logo %}{{ selected_step.logo }}{% else %}{{ conf.DEFAULT_IMAGE }}{% endif %}"/>
        <meta property="og:url" content="{{ selected_step.url }}"/>
        <meta property="og:site_name" content="{{ site_name }}"/>
        <meta property="og:description" content="{{ seletec_step.desc }}"/>
        <meta property="fb:app_id" content="{{ app_id }}"/>
    </head>
    <body>
    </body>
</html>
