<div class="footer">
    <ul>
        <li><a href="/#top">Home</a></li>
        <li><a href="/index#takeatour">Take a Tour</a></li>
        <li><a href="mailto:support@mywishguru.com">Contact us</a></li>
        <div class="clear"></div>
    </ul>
    <div class="copyright">
        &#0169; 2013 by MyWishGuru
    </div>
</div>
