<div class="offline_overlay">
  <div class="wrapper">
    <a class="lightlogo" href="/"></a>
    <div class="off_info float_lt">
      <!--
      <h1>{{ wish.title }}</h1>
      -->
      <p>Want to see more of your friends wishes?</p>
      <ul>
        <li class="float_lt">
          <div class="fbconnect fblogin"></div>
        </li>
        <li class="float_lt">
          <a class="know_more" href="/index#takeatour"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="arrow2"></div>
</div>
<div class="offline_extrapad"></div>
