<div class="top">
  <div class="wrapper">
    <div class="toparea">
      <div class="topheader">
        <a class="lightlogo" href="/"></a>
        {% include "navbar.html" %}
        <div class="tagline">
          <h1 class="off_friend">Are you {{ wish_user_name }}'s friend?</h1>
          <p>{{ wish_user_name }} has made this wish visible just for friends.</p>
          <ul>
            <li class="float_lt">
              <div class="fbconnect fblogin"></div>
            </li>
            <li class="float_lt">
              <div class="login fblogin"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
