{% extends "base.html" %}

{% block javascript %}
{{ block.super }}
<script>
require([
  'dojo/ready',
  'dojo/dom',
  'mwg/controller/index'
  ]);
</script>
{% endblock %}

{% block header %}
<div class="top">
  <div class="wrapper">
    <div class="toparea">
      <div class="topheader">
        <a class="lightlogo" href="/"></a>
        {% include "navbar.html" %}
        <div class="tagline">
          <h1>Make a wish!</h1>
          <p class="lowText">Use the power of your network to make<br/>your dreams come true.</p>
          <!--
          <div class="video"></div>
          -->
          <ul>
            <li class="float_lt">
              <div class="fbconnect fblogin"></div>
            </li>
            <li class="float_lt">
              <div class="login fblogin"></div>
            </li>
          </ul>
          <!--
          <div class="fb-facepile" data-href="{{ conf.EXTERNAL_HREF }}" data-max-rows="2" data-width="300" data-colorscheme="dark"></div>
          -->
          <!--
          <fb:facepile href="{{ conf.EXTERNAL_HREF }}" max_rows="1" width="300" colorscheme="dark"></fb:facepile>
          -->
          <!--
          <div class="fb-facepile" data-href="https://www.mywishguru.com/" data-app-id="387714221299242" data-max-rows="2" data-width="300"></div>
          -->
          <!--
          <fb:facepile href="https://www.mywishguru.com/" app_id="387714221299242" max_rows="2" width="300"></fb:facepile>
          -->
          <!--
          <iframe src="//www.facebook.com/plugins/facepile.php?href=https%3A%2F%2Fwww.mywishguru.com%2F&amp;app_id=387714221299242&amp;action&amp;max_rows=2&amp;size=medium&amp;show_count=true&amp;width=300&amp;colorscheme=dark" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;" allowTransparency="true"></iframe>
          -->
          <div class="fb-like" data-href="{{ conf.EXTERNAL_HREF }}" data-send="false" data-width="450" data-show-faces="true" data-colorscheme="dark"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% include "bottom.html" %}
<div id="takeatour"></div>
{% endblock %}

