<div class="{%if page == "fourofour" %}nav{% else %}{% if user %}nav{% else %}topnav{% endif %}{% endif %}">
    <ul>
        {% if user %}
          <li>
            <a id="browse_button" 
              class="mwgButton{% if page == "browse" %} mwgButtonActive{% endif %}"
              href="/browse">Explore</a>
          </li>
          <li>
            <a id="my_wishboard_button"
              class="mwgButton"
              href="{{ active_user.url }}">My Wishboard</a>
          </li>
          <li>
            <a class="mwgButton{% if page == "newwish" %} mwgButtonActive{% endif %}" href="/newwish">Make a Wish</a>
          </li>
        {% else %}
        <!--
          <li><a class="mwgButton" href="/">Home</a></li>
          -->
          <li><a id="to_examples" class="mwgButton" href="/index#examples">Get Inspired</a></li>
          <li><a class="mwgButton" href="/index#takeatour">Take a Tour</a></li>
          <li><a class="mwgButton" href="http://blog.mywishguru.com" target="_blank">Blog</a></li>
        {% endif %}
    </ul>
</div>
