{% extends "base.html" %}
{% block title %}Edit Wish{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
require([
  'mwg/controller/newwish',
  'dojo/ready',
  'dojo/domReady!'
], function(
  newwish,
  ready) {

  ready(function() {
    var wish, steps = [];
    wish = {{ wish|jsonify|safe }};
    {% for step in steps %}
    steps.push({{ step|jsonify|safe }});
    {% endfor %}
    newwish.init(wish, steps);
  });
});
</script>
{% endblock %}

{% block header %}
  {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="wishContainer">
    <div id="overlayNode" style="opacity: 0;">
      <div class="wishArea">
        <div id="stackContainer"></div>
      </div>

      <div class="wishSidebar">
        <div id="stepController"> </div>
      </div>

    </div> <!-- overlayNode -->
  </div>
</div>
{% endblock %}
