{% extends "base.html" %}

{% block javascript %}
{{ block.super }}
{% endblock %}

{% block header %}
  {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="no_updates">Sorry...</div>
  <img class="no_updates_img" src="/images/crying_genie.png" />
  <div class="no_updates_msg">You are not able to view this wish.</div>
</div>
{% endblock %}
