<!DOCTYPE html>
{% block open_graph_tags %}
<head>
  {% endblock open_graph_tags %}

  {% if conf.DEBUG %}
  <!--
  <script src="http://10.0.2.2:8080/target/target-script-min.js"></script>
  -->
  {% endif %}

  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8"/>

  <title>{% block title %}MyWishGuru{% endblock %}</title>

  <!-- @if NODE_ENV!='dist' -->
  <link type="text/css" rel="stylesheet" href="/js/mwg/resources/mwg.css" type="text/css" />
  <link rel="stylesheet" media="screen" href="/css/screen.css" type="text/css" />
  <link rel="stylesheet" media="print" href="/css/print.css" type="text/css" />
  <!-- @endif -->
  <!-- @if NODE_ENV='dist' -->
  <link type="text/css" rel="stylesheet" href="/js/mwg/resources/mwg.css?<!-- @echo RELEASE_TAG -->" type="text/css" />
  <link rel="stylesheet" media="screen" href="/css/screen.css?<!-- @echo RELEASE_TAG -->" type="text/css" />
  <link rel="stylesheet" media="print" href="/css/print.css?<!-- @echo RELEASE_TAG -->" type="text/css" />
  <!-- @endif -->

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  {% block css %}{% endblock %}

</head>

{% block body_def %}<body id="top" class="claro mwg {{ page }}">{% endblock %}

  <!-- @if NODE_ENV!='dist' -->
  <script data-dojo-config="async: 1, isDebug: true, deps:['mwg/run']" src="/js/dojo/dojo.js"></script>
  <!-- @endif -->
  <!-- @if NODE_ENV='dist' -->
  <script data-dojo-config="async: 1, deps:['mwg/run']" src="/js/dojo/dojo.js?<!-- @echo RELEASE_TAG -->"></script>
  <!-- @endif -->

  <div id="fb-root"></div>
  <script type="text/javascript">
    require(['mwg/main'], function(main) {
      if (window.mwg == undefined) window.mwg = {};
      window.mwg.config = {{ config|safe }};
      main.init();
      window.fbAsyncInit = function() { main.facebookInit() };

      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));
    });
  </script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ analytics_id }}']);
    _gaq.push(['_setCustomVar', 1, 'User Type', '{{ member }}', 2]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% block javascript %}{% endblock %}

  {% block body %}{% endblock %}

</body>

</html>
