
<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Task Admin</title>
  </head>

  <body>
    <h1>Files</h1>
    <ul>
      <li><a href="/task/userlist.txt">User List</a></li>
      <li><a href="/task/accountlist.txt">Account List</a></li>
      <li><a href="/task/users_without_wishes.txt">Users without wishes</a></li>
      <li><a href="/task/users_multiple_wishes.txt">Users with multiple wishes</a></li>
      <li><a href="/task/wishes_inactive_one_week.txt">Wishes inactive one week</a></li>
      <li><a href="/task/wishes_inactive.txt">Wishes inactive</a></li>
      <li><a href="/task/wishes_fulfilled.txt">Wishes fulfilled</a></li>
      <li><a href="/task/wishes_all.txt">Wishes all</a></li>
      <li><a href="/task/steps_all.txt">Steps all</a></li>
      <li><a href="/task/account_wishes.txt">Account Wishes</a></li>
    </ul>

    <h1>Tasks</h1>
    {% for task in TASKS %}
      <h2>{{ task.title }}</h2>
      <form name="{{ task.form_name }}" action="{{ task.command }}" method="post">
        {% if task.params %}
          {% for param in task.params %}
          <p><label for="{{ param }}">{{ param }}</label><input type="text" name="{{ param }}"></p>
          {% endfor %}
        {% endif %}
        <input type="submit" value="Submit">
      </form>
      <hr/>
    {% endfor %}
  </body>

</html>
