{% extends "base.html" %}

{% block header %}
  {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="tos_wrapper">
    <h1 id="tos">Terms of Service</h1>

    <p><b>Thank you for using MyWishGuru!</b></p>

    <p>These Terms of Service ("Terms") govern your access to and use of
    MyWishGuru's website, products, and services ("Products"). Please read these
    Terms carefully, and <a href="mailto:support@mywishguru.com">contact us</a>
    if you have any questions. By accessing or using our Products, you agree to
    be bound by these Terms and by our <a href="#privacy_policy">Privacy Policy</a></p>


    <h3>1. Using MyWishGuru</h3>

    <h5>a. Who can use MyWishGuru:</h5>
    <p>You may use our Products only if you can form a binding contract with
    MyWishGuru, and only in compliance with these Terms and all applicable laws.
    When you create your MyWishGuru account, you must provide us with accurate
    and complete information. Any use or access by anyone under the age of 13 is
    prohibited. If you open an account on behalf of a company, organization, or
    other entity, then (a) "you" includes you and that entity, and (b) you
    represent and warrant that you are authorized to grant all permissions and
    licenses provided in these Terms and bind the entity to these Terms, and
    that you agree to these Terms on the entity's behalf.</p>

    <h5>b. Our license to you :</h5>
    <p>Subject to these Terms and our policies (including our
    <a href="#acceptable_use">Acceptable Usage Policy</a>) we grant you a
    limited, non-exclusive, non-transferable, and revocable license to use our
    Products.</p>

    <h3>2. Your Content</h3>

    <h5>a. Posting content:</h5>
    <p>MyWishGuru allows you to post content, including photos, comments, and
    other materials. Anything that you post or otherwise make available on our
    Products is referred to as "User Content." You retain all rights in, and are
    solely responsible for, the User Content you post to MyWishGuru.</p>

    <h5>b. How MyWishGuru and other users can use your content :</h5>
    <p>You grant MyWishGuru and its users a non-exclusive, royalty-free,
    transferable, sublicensable, worldwide license to use, store, display,
    reproduce, modify, create derivative works, perform, and distribute your
    User Content on MyWishGuru solely for the purposes of operating, developing,
    providing, and using the MyWishGuru Products. Nothing in these Terms shall
    restrict other legal rights MyWishGuru may have to User Content, for example
    under other licenses. We reserve the right to remove or modify User Content
    for any reason, including User Content that we
    believe violates these Terms or our policies.</p>

    <h5>c. How long we keep your content:</h5>
    <p>Following termination or deactivation of your account, or if you remove
    any User Content from MyWishGuru, we may retain your User Content for a
    commercially reasonable period of time for backup, archival, or audit
    purposes. Furthermore, MyWishGuru and its users may retain and continue to
    use, store, display, reproduce,modify, create derivative works, perform, and
    distribute any of your User Content that other users have stored or shared
    through MyWishGuru.</p>

    <h5>d. Feedback you provide</h5>
    <p>We value hearing from our users, and are always interested in learning
    about ways we can make MyWishGuru more awesome. If you choose to submit
    comments, ideas or feedback, you agree that we are free to use them without
    any restriction or compensation to you. By accepting your submission,
    MyWishGuru does not waive any rights to use similar or related Feedback
    previously known to MyWishGuru, or developed by its employees, or obtained
    from sources other than you</p>

    <h3>3. Copyright Policy</h3>
    <p>MyWishGuru has adopted and implemented the MyWishGuru Copyright Policy in
    accordance with the Digital Millennium Copyright Act. For more information,
    please read our Copyright Policy.</p>


    <h3>4. Security</h3>
    <p>We care about the security of our users.  While we work to protect the
    security of your content and account, MyWishGuru cannot guarantee that
    unauthorized third parties will not be able to defeat our security measures.
    Please notify us immediately of any compromise or unauthorized use of your
    account.</p>

    <h3>5. Termination</h3>
    <p>MyWishGuru may terminate or suspend this license at any time, with or
    without cause or notice to you. Upon termination, you continue to be bound
    by Sections 2 and 6-12 of these Terms.<p>

    <h3>7. Indemnity</h3>
    <p>If you use our Products for commercial purposes in violation of Section
    1(c), as determined in our sole and absolute discretion, you agree to
    indemnify and hold harmless MyWishGuru and its officers, directors,
    employees and agents, from and against any claims, suits, proceedings,
    disputes, demands, liabilities, damages, losses, costs and expenses,
    including, without limitation, reasonable legal and accounting fees
    (including costs of defense of claims, suits or proceedings brought by third
    parties), in any way related to (a) your access to or use of our Products,
    (b) your User Content, or (c) your breach of any of these Terms.</p>

    <h3>8. Disclaimers</h3>
    <p>The Products and all included content are provided on an "as is" basis
    without warranty of any kind, whether express or implied.</p>
    <p>MyWishGuru takes no responsibility and assumes no liability for any User
    Content that you or any other user or third party posts or transmits using
    our Products. You understand and agree that you may be exposed to User
    Content that is inaccurate, objectionable, inappropriate for children, or
    otherwise unsuited to your purpose.</p>

    <h3>9. Limitation of Liability</h3>
    <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, MyWishGuru SHALL NOT BE LIABLE
    FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES,
    OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY,
    OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING
    FROM (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE
    PRODUCTS; (B) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE PRODUCTS,
    INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT
    OF OTHER USERS OR THIRD PARTIES; OR (C) UNAUTHORIZED ACCESS, USE OR
    ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.</p>

    <h3>10. Arbitration</h3>
    <p>For any dispute you have with MyWishGuru, you agree to first
    <a href="mailto:support@mywishguru.com">contact us</a> and attempt to
    resolve the dispute with us informally. If MyWishGuru has not been able to
    resolve the dispute with you informally, we each agree to resolve any claim,
    dispute, or controversy (excluding claims for injunctive or other equitable
    relief) arising out of or in connection with or relating to these Terms by
    binding arbitration by the American Arbitration Association ("AAA") under
    the Commercial Arbitration Rules and Supplementary Procedures for Consumer
    Related Disputes then in effect for the AAA, except as provided herein.
    Unless you and MyWishGuru agree otherwise, the arbitration will be conducted
    in the county where you reside. Each party will be responsible for paying
    any AAA filing, administrative and arbitrator fees in accordance with AAA
    rules,
    except that MyWishGuru will pay for your reasonable filing, administrative,
    and arbitrator fees if your claim for damages does not exceed $75,000 and
    is non-frivolous (as measured by the standards set forth in Federal Rule of
    Civil Procedure 11(b)). The award rendered by the arbitrator shall include
    costs of arbitration, reasonable attorneys' fees and reasonable costs for
    expert and other witnesses, and any judgment on the award rendered by the
    arbitrator may be entered in any court of competent jurisdiction. Nothing
    in this Section shall prevent either party from seeking injunctive or other
    equitable relief from the courts for matters related to data security,
    intellectual property or unauthorized access to the Service. ALL CLAIMS
    MUST BE BROUGHT IN THE PARTIES' INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF
    OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING, AND,
    UNLESS WE AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE
    PERSON'S CLAIMS. YOU AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND
    MyWishGuru ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE
    IN A CLASS ACTION.</p>

    <h3>11. Governing Law and Jurisdiction</h3>
    <p>These Terms shall be governed by the
    laws of the State of California, without respect to its conflict of laws
    principles. We each agree to submit to the personal jurisdiction of a state
    court located in Santa Clara County, California or the United States
    District Court for the Northern District of California, for any actions not
    subject to Section 10 (Arbitration).</p>
    <p>Our Products are controlled and operated
    from the United States, and we make no representations that they are
    appropriate or available for use in other locations.</p>


    <h3>12. General Terms</h3>

    <h5>Notification Procedures and changes to these Terms</h5>
    <p>MyWishGuru reserves the right to determine the form and means
    of providing notifications to you, and you agree to receive legal notices
    electronically if we so choose. We may revise these Terms from time to time
    and the most current version will always be posted on our website. If a
    revision, in our sole discretion, is material we will notify you. By
    continuing to access or use the Products after revisions become effective,
    you agree to be bound by the revised Terms. If you do not agree to the new
    terms, please stop using the Products.</p>

    <h5>Assignment</h5>
    <p>These Terms, and any rights
    and licenses granted hereunder, may not be transferred or assigned by you,
    but may be assigned by MyWishGuru without restriction. Any attempted
    transfer or assignment in violation hereof shall be null and
    void.</p>

    <h5>Entire Agreement/Severability</h5>
    <p>These Terms, together
    with the Privacy Policy and any amendments and any additional agreements
    you may enter into with MyWishGuru in connection with the Products, shall
    constitute the entire agreement between you and MyWishGuru concerning the
    Products. If any provision of these Terms is deemed invalid, then that
    provision will be limited or eliminated to the minimum extent necessary,
    and the remaining provisions of these Terms will remain in full force and
    effect.</p>

    <h5>No Waiver</h5>
    <p>No waiver of any term of these Terms shall be deemed a further
    or continuing waiver of such term or any other term, and MyWishGuru's
    failure to assert any right or provision under these Terms shall not
    constitute a waiver of such right or provision.</p>



    <h2 id="privacy_policy">Privacy Policy</h2>
    <p>Thank you for using MyWishGuru! We wrote this policy
    to help you understand what information we collect, how we use it, and what
    choices you have regarding your information. Because we're an Internet
    company, some of the concepts below are a little technical, but we've tried
    our best to explain things in a simple and clear
    way.</p>

    <h3>What information do we collect?</h3>

    <p>1. When you give it to us or give us permission to obtain it: When you sign up for or
    use our products, you voluntarily give us certain information. This can
    include your name, profile photo,comments, likes, email address you used to
    sign up, and any other information you provide us. You also may give us
    permission to access your information in other services. For example, you
    may link your Facebook or Twitter account to MyWishGuru, which allows us to
    obtain information from those accounts (e.g., your friends or contacts).
    The information we obtain from those services often depends on your
    settings or their privacy policies, so be sure to check what those
    are.</p>

    <p>2. We get technical information when you use our products. These days, whenever you use a
    website, mobile application, or other Internet service, there's certain
    information that almost always gets created and recorded in an automated
    way. The same is true when you use our products, and here are some of the
    types of information we collect in this way.</p>

    <p>Log Data. When you use MyWishGuru, our servers automatically record information about your
    interaction with our products ("log data"), including information that your
    browser sends whenever you visit a website or your mobile app sends when
    you use it to access MyWishGuru. This log data may include your Internet
    Protocol address, the address of the web page you were visiting before you
    came to MyWishGuru, browser type and settings, the date and time of your
    request, and how you used MyWishGuru.</p>

    <p>Depending on how you're accessing our
    products, we may use "cookies" (a small text file sent by your computer
    each time you visit our website, unique to your MyWishGuru account or your
    browser), or similar technologies to record log data. When we use cookies,
    we may use "session" cookies (that last until you close your browser) or
    "persistent" cookies (that last until you or your browser delete them). For
    example, we may use cookies to store your language preferences or other
    MyWishGuru settings so you don't have to set them up every time you visit
    MyWishGuru.</p>

    <p>Device Information. In addition to log
    data, we may also collect information about the device you're using
    MyWishGuru, including what type of device it is, what operating system
    you're using, device settings, unique device identifiers, and crash data.
    Whether we collect some or all of this information often depends on what
    type of device you're using and its settings. For example, different types
    of information are available depending on whether you're using a Mac or a
    PC, or an iPhone or an Android phone. To learn more about what information
    your device makes available to us, please also check the policies of your
    device manufacturer or software provider.</p>

    <h3>How do we use the information we collect?</h3>

    <p>We use the information we collect to
    provide our products to you and make them better, develop new products, and
    protect MyWishGuru and our users. For example, we may log how often people
    use two different versions of a product, which can help us understand which
    version is better.</p>

    <p>We also use the information we collect to
    offer you customized content -- including wishes you might like or provide
    you with tailored advertising. For example, if you've indicated that you're
    interested in cooking, we may suggest food-related wishes</p>

    <p>We also use the information we collect
    to: send you updates (such as when certain activity, likes or comments,
    happens on MyWishGuru), newsletters, marketing materials and other
    information that may be of interest to you. For example, depending on your
    email notification settings, we may send you weekly updates that include
    wishes you may like. You can decide to stop getting these updates by
    updating your account settings (or through other settings we may
    provide).</p>

    <p>The information we collect may be
    "personally identifiable" (meaning it can be used to specifically identify
    you as a unique person) or "non-personally identifiable" (meaning it can't
    be used to specifically identify you). We use both types of information,
    and combinations of both types, as described above. We may use or store
    information wherever MyWishGuru does business, including countries outside
    your own.</p>

    <p>What choices do you have about your
    information?Our goal
    is to give you simple and meaningful choices over your information. If you
    have a MyWishGuru account, many of the choices you have on MyWishGuru are
    built directly in to the product or your account settings. For example, you
    can:. Close your account at any time. When you close your account, we'll
    deactivate it and remove your wishes from MyWishGuru. We may retain
    archived copies of your information as required by law or for legitimate
    business purposes (including to help address fraud and spam).</p>

    <p>You may have choices available to you
    through the device or software you use to access MyWishGuru. For
    example:</p>

    <ol>
        <li>The browser you use may provide you
        with the ability to control cookies or other types of local data
        storage;</li>

        <li>Your mobile device may provide you
        with choices around how and whether location or other data is shared
        with us.</li>
    </ol>

    <p>How do we share the information we
    collect?</p>

    <p>MyWishGuru is a tool people use to find
    their wishes, make them a reality, and inspire others in the process. When
    you create public wishboards, anyone can view them. You may also provide us
    with profile page information that that anyone can view. The other limited
    instances where we may share your personal information include:</p>

    <ol>
        <li>When we have your consent. This
        includes sharing information with other services (like Facebook or
        Twitter) when you’ve chosen to link to your MyWishGuru account to those
        services or publish your activity on MyWishGuru to them. For example,
        you can choose to publish your pins to Facebook or Twitter.</li>

        <li>We may employ third party companies
        or individuals to process personal information on our behalf based on
        our instructions and in compliance with this Privacy Policy. For
        example, we may share data with a security consultant to help us get
        better at identifying spam or with our accountants to make sure we’re
        keeping the books right. In addition, some of the information we
        request may be collected by third party providers on our behalf. For
        more information about the providers we use, please see our Help Center.</li>

        <li>If we believe that disclosure is
        reasonably necessary to comply with a law, regulation or legal request;
        to protect the safety, rights, or property of the public, any person,
        or MyWishGuru; or to detect, prevent, or otherwise address fraud,
        security or technical issues.</li>

        <li>We may engage in a merger,
        acquisition, bankruptcy, dissolution, reorganization, or similar
        transaction or proceeding that involves the transfer of the information
        described in this Policy.</li>
    </ol>

    <p>We may also share aggregated or
    non-personally identifiable information with our partners or others. For
    example, we may tell a business using MyWishGuru how many people
    comment/like/share something they shared, or the percentage of people who
    click a on wish after viewing it.</p>

    <h3>Our Policy on Children’s Information</h3>

    <p>MyWishGuru is not directed to children
    under 13. If you learn that your minor child has provided us with personal
    information without your consent, please contact us.</p>

    <p>How do we make changes to this
    policy? We may change this policy from time to
    time, and if we do we’ll post any changes on this page. If you continue to
    use MyWishGuru after those changes are in effect, you agree to the revised
    policy. If the changes are significant, we may provide more prominent
    notice or obtain your consent as required by law.</p>



    <h2 id="acceptable_use">Acceptable Use Policy</h2>

    <p>MyWishGuru provides a platform to
    discover and share your goals/wishes. To keep MyWishGuru running smoothly
    for all of our Users, you agree that you will use the Service only in a
    manner consistent with the following Acceptable Use Policy.</p>

    <p>You agree not to post User Content that:</p>

    <ol>
        <li>is sexually explicit or pornographic;</li>

        <li>creates a risk of harm, loss,
        physical or mental injury, emotional distress, death, disability,
        disfigurement, or physical or mental illness to yourself, to any other
        person, or to any animal;</li>

        <li>may create a risk of any other loss
        or damage to any person or property;</li>

        <li>seeks to harm or exploit children by
        exposing them to inappropriate content, asking for personally
        identifiable details or otherwise;</li>

        <li>violates, or encourages any conduct
        that violates laws or regulations;</li>

        <li>contains any information or content
        we deem to be hateful, violent, harmful, abusive, racially or
        ethnically offensive, defamatory, infringing, invasive of personal
        privacy or publicity rights, harassing, humiliating to other people
        (publicly or otherwise), libelous, threatening, profane, or otherwise
        objectionable;</li>

        <li>contains any information or content
        that is illegal (including, without limitation, the disclosure of
        insider information under securities law or of another party's trade
        secrets);</li>

        <li>infringes any third party's
        Intellectual Property Rights, privacy rights, publicity rights, or
        other personal or proprietary rights;</li>

        <li>contains any information or content
        that you do not have a right to make available under any law or under
        contractual or fiduciary relationships; or</li>

        <li>is fraudulent, false, misleading, or
        deceptive.</li>
    </ol>

    <p>You agree not to engage in any of the
    following prohibited activities:</p>

    <ol>
        <li>Use, display, mirror or frame the
        Service, any individual element within the Service, the MyWishGuru
        name, trademark, logo or other proprietary information, or the layout
        and design of any page, without our express written
        consent;</li>

        <li>Access, tamper with, or use
        non-public areas of the Service, our computer systems, or the technical
        delivery systems of our providers;</li>

        <li>Attempt to probe, scan, or test the
        vulnerability of any MyWishGuru system or network or breach any
        security or authentication measures;</li>

        <li>Avoid, bypass, remove, deactivate,
        impair, descramble or otherwise circumvent any technological measure
        implemented by MyWishGuru or any of our providers or any other third
        party (including another user) to protect the Services or MyWishGuru
        Content;</li>

        <li>Attempt to access or search the
        Services, User Content or MyWishGuru Content or scrape or download User
        Content or MyWishGuru Content from the Services, or otherwise use,
        upload content to, or create new links, reposts, or referrals in the
        Service through the use of any engine, software, tool, agent, device or
        mechanism (including automated scripts, spiders, robots, crawlers, data
        mining tools or the like) other than the software and/or search agents
        provided by MyWishGuru or other generally available third party web
        browsers;</li>

        <li>Send any unsolicited or unauthorized
        spam and spam comments on posts, advertising messages, promotional
        materials, email, junk mail, chain letters or other form of
        solicitation;</li>

        <li>Use the Service for any commercial
        purpose or the benefit of any third party, except as otherwise
        explicitly permitted for you by MyWishGuru or in any manner not
        permitted by the Terms;</li>

        <li>Use MyWishGuru user information to
        forge any TCP/IP packet header or any part of the header information in
        any email or newsgroup posting, or in any way use the Services to send
        altered, deceptive or false source-identifying information;</li>

        <li>Attempt to decipher, decompile,
        disassemble or reverse engineer any of the software used to provide the
        Services;</li>

        <li>Interfere with, or attempt to
        interfere with, the access of any user, host or network, including,
        without limitation, sending a virus, overloading, flooding, spamming,
        or mail-bombing the Services;</li>

        <li>Collect or store any personally
        identifiable information from the Services from other users of the
        Services without their express permission;</li>

        <li>Impersonate or misrepresent your
        affiliation with any person or entity;</li>

        <li>Violate any applicable law or
        regulation;</li>

        <li>Request, collect or store username,
        password, token or any other account authentication information from
        other users; or</li>

        <li>Encourage or enable any other
        individual to do any of the activities prohibited in this Acceptable
        Use Policy.</li>
    </ol>

    <p>MyWishGurure serves the right, but is not
    obligated, to remove any User Content for any reason or for no reason,
    including User Content that MyWishGuru believes violates this
    Acceptable Use Policy or its Terms of Service.
    MyWishGuru may also permanently or temporarily terminate or suspend a User
    account without notice and liability for any reason, including if, in
    MyWishGuru's sole determination, a User violates any provision of this
    Acceptable Use Policy, our Terms of
    Service, or for no reason.</p>
  </div>
</div>
{% endblock %}
