<div class="useropts">
{% if user %}
    <div class="tips">
      {% if message %}
      <img src="/images/genie_face.png" class="face" alt="Genie's tip"/>
      <div class="tooltip">
        <span class="left float_lt"></span>
        <span class="center float_lt">{{ message|safe }}</span>
        <span class="right float_lt"></span>
      </div>
      {% endif %}
    </div>

    <div id="opts_menu" class="opts">
        {% if account %}
        <img id="opts_menu_user_picture" src="{{ account.picture }}" class="userpic float_lt" />
        {% else %}
        <img id="opts_menu_user_picture" src="{{ user.picture }}" class="userpic float_lt" />
        {% endif %}
        {% if account %}
        <p class="hellouser"><span class="lightblue">Hello</span><br/><span id="opts_menu_user_name">{{ account.name }}</span></p>
        {% else %}
        <p class="hellouser"><span class="lightblue">Hello</span><br/><span id="opts_menu_user_name">{{ user.first_name }}</span></p>
        {% endif %}
    </div>
    <ul id="opts_dropdown" class="user hidden">
        <li id="invite">Invite</li>
        <li id="notifications">Notifications</li>
        <li id="logout">Log Out</li>
    </ul>
{% endif %}
</div>
