
{% extends "skeleton.html" %}

{% block open_graph_tags %}
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ conf.FACEBOOK_NAMESPACE }}: http://ogp.me/ns/fb/{{ conf.FACEBOOK_NAMESPACE }}#">
    <meta property="og:title" content="{{ wish.title }} - Wished by {{ wish_user.name }}"/>
    <meta property="og:type"   content="{{ conf.FACEBOOK_NAMESPACE }}:wish" />
    <meta property="og:image" content="{% if wish.logo %}{{ wish.logo }}{% else %}{{ conf.DEFAULT_IMAGE }}{% endif %}"/>
    <meta property="og:url" content="{{ wish.url }}"/>
    <meta property="og:site_name" content="{{ site_name }}"/>
    <meta property="og:description" content="{{ wish.desc }}"/>
    <meta property="fb:app_id" content="{{ app_id }}"/>
{% endblock open_graph_tags %}

{% block javascript %}
{{ block.super }}
<script>
require(['mwg/Wish']);
//require([
//  'mwg/Wish',
//  'dojo/ready',
//  'dojo/parser'
//  ],
//function(
//  Wish,
//  ready
//  ) {
//
//  ready(function () {
//    function setHeight() {
//        parent.document.getElementById('wishcard').height = document['body'].offsetHeight;
//    }
//    setHeight();
//  });
//});
</script>
{% endblock %}

{% block body_def %}<body class="iframe_body">{% endblock %}

{% block body %}
<div id="wish_{{ wish.wish_id }}" data-dojo-type="mwg.WishCard" data-dojo-props="{{ wish|jsonify_dojo_props }}"></div>
{% endblock %}
