{% extends "base.html" %}

{% block open_graph_tags %}
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ conf.FACEBOOK_NAMESPACE }}: http://ogp.me/ns/fb/{{ conf.FACEBOOK_NAMESPACE }}#">
    <meta property="og:title" content="{{ selected_step.title }} - Wished by {{ wish_user.name }}"/>
    <meta property="og:type"   content="{{ conf.FACEBOOK_NAMESPACE }}:wish" />
    <meta property="og:image" content="{% if selected_step.logo %}{{ selected_step.logo }}{% else %}{{ conf.DEFAULT_IMAGE }}{% endif %}"/>
    <meta property="og:url" content="{{ selected_step.url }}"/>
    <meta property="og:site_name" content="{{ site_name }}"/>
    <meta property="og:description" content="{{ seletec_step.desc }}"/>
    <meta property="fb:app_id" content="{{ app_id }}"/>
{% endblock open_graph_tags %}

{% block javascript %}
{{ block.super }}
<script>
  require([
    'mwg/controller/wish',
    'dojo/ready',
    'dojo/domReady!'
  ], function(
    wishpage,
    ready) {

    ready(function() {
      var wish, steps = [], selectedStep;
      selectedStep = {{ selected_index }};

      wish = {{ wish|jsonify|safe }};
      {% for step in steps %}
      steps.push({{ step|jsonify|safe }});
      {% endfor %}
      wishpage.init(wish, steps, selectedStep);
    });
  });
</script>
{% endblock %}

{% block header %}
{% if not user and wish.privacy == "public" %}
  {% include "header_public_wish.html" %}
{% else %}
  {% include "header.html" %}
{% endif %}
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="wishContainer">
    <div id="overlayNode" style="opacity: 0;">
      <div class="wishContent">
        <h1 id="wishtitle" class="wishtitle"></h1>
        <div id="stackContainer"></div>
      </div>

      <div class="wishSidebar">
        <div id="stepController"></div>


      </div> <!-- sidebar -->
    </div> <!-- overlayNode -->

  </div>
</div>
{% endblock %}
