<html>
  <body>
    <p>Hey {{ receiver.name|safe }},</p>

    <p>It's Susana, here! I am Mywishguru's project manager.
    I've personally found that often the first steps are the hardest ones to take,
    so I wanted to reach out and see if there is any way I can help you achieve
    your goals. I'm currently working on dreams to take a trip to Africa, do more
    cycling (which I love and don’t do enough of!) and to visit more museums.</p>

    <p>Let me know if there is anything I can do to help.</p>

    <p><a href="http://www.mywishguru.com/newwish">Make a Wish!</a></p>

    <p><a href="mailto:susana.branco@mywishguru.com">Susana Branco</a></p>
    <p><a href="http://www.mywishguru.com">www.mywishguru.com</a></p>
  </body>
</html>
