<html>
  <body>
<p>Congratulations!</p>

<p>You have just fulfilled your wish – remember to take time to savor the special
feeling that comes from achieving something you set yourself to achieve. Reflect
on how this experience was able to make you grow and on how it has enriched your
life.</p>
<p><a href="{{ model.url|safe }}?share">Take time to thank all those friends that helped you make your dream come true.</a></p>
  </body>
</html>
