<html>
  <body>
<p>Hey {{ receiver.name|safe }},<p>
<p>It's Susana from MyWishGuru here! I am MyWishGuru's project manager.</p>

<p>I see that you have made your wish but are having trouble moving forward. I
found that sharing my wish with my friends and breaking it down into smaller
more achievable steps was extremely helpful in getting me to focus on achieving
my objectives.</p>

<p>Why don’t you see this for yourself by going to your wish and share it with your
friends?  Also try to break it down into smaller and more achievable steps. You
will be amazed with the results!</p>

<p>Let me know if there is anything I can do to help,</p>

<p><a href="http://www.mywishguru.com/newwish">Make a Wish!</a></p>

<p><a href="susana.branco@mywishguru.com">Susana Branco Mywishguru</a><p>
<p><a href="http://www.mywishguru.com">www.mywishguru.com</a></p>
  </body>
</html>
