<html>
<head>
    <meta charset="utf-8"/>
    <title>MyWishGuru</title>
</head>

<body>
    <table cellspacing="0" cellpadding="10" border="0" width="600px">
        <tr>
            <td bgcolor="#F0F0F0">
              <a href="http://www.mywishguru.com">
                <img src="http://mywishguru.com/images/logo_dark_beta.png" alt="MyWishGuru"/>
              </a>
              <table cellspacing="0" cellpadding="10" border="0" width="100%">
                  <tr>
                      <td></td>
                      <td rowspan="2" width="296px" bgcolor="#FFFFFF"><a href="{{ model.url|safe }}"><img width="296px" style="width: 269px;" src="{{ model.logo|safe }}" /></a>
</td>
                      <td height="20" bgcolor="#FFFFFF"><a href="{{ model.url|safe }}"><h2>{{ model.title|safe }}</h2></a></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td bgcolor="#FFFFFF">{{ model.desc|safe|default_if_none:"" }}</td>
                      <td></td>
                  </tr>
              </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#F0F0F0">
              <p align="center" style="font-size:7.5pt;font-family:'Helvetica','sans-serif';color:#999999">To unsubscribe from notifications change your <a href="http://mywishguru.com/?notifications">notification preferences</a></p>
            </td>
        </tr>
    </table>
</body>
</html>
