<html>
  <head>
    <meta charset="utf-8"/>
    <title>MyWishGuru</title>
  </head>

  <body>
    <table cellspacing="0" cellpadding="10" border="0" width="600px">
      <tr>
        <td>
          <table cellspacing="0" cellpadding="10" border="0" width="100%">
            <tr>
              <td>
                <p align="center">
                  <a href="http://www.mywishguru.com">
                    <img src="http://www.mywishguru.com/images/logo_dark_beta.png" alt="MyWishGuru"/>
                  </a>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p style="font-size:16px;" align="center">
                  Hi {{ receiver.name|safe }},
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <div align="center">
                  <a style="margin-right:4px;" href="http://www.mywishguru.com/browse/"><img src="{{ transmitter.picture|safe }}"/></a>
                  <p>Your facebook friend <a href="http://www.mywishguru.com/browse/">{{  transmitter.name|safe }}</a> just joined MyWishGuru</p>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center" style="font-size:7.5pt;font-family:'Helvetica','sans-serif';color:#999999">To unsubscribe from notifications change your <a href="http://www.mywishguru.com?notifications">notification preferences</a></p>
        </td>
      </tr>
    </table>
  </body>

</html>
