<div>
  <div data-dojo-attach-point="dialogNode" data-dojo-type="dijit.Dialog">
    <img src="/images/genies_face.png"/ class="modal_img">

    <h1>Welcome Back!</h1>
    <h2>Just a moment while we connect you to Facebook.</h2>
  </div>
</div>
