<li class="commentItem">
  <div class="clear">
    <a data-dojo-attach-point="userPictureNode" class="comment_user_picture" href="http://www.facebook.com/profile.php?id=${from.id}">
      <img data-dojo-attach-point="userPicture" class="img32 fb_user_picture" src=""></img>
    </a>
    <div class="contentBlock">
      <a data-dojo-attach-point="userNameNode" href="http://www.facebook.com/${from.id}" target="_blank">${from.name}</a>
      <span>${message}</span>
      <div class="postActions">
        <span><abbr title="${long_created}">${abbr_created}</abbr></span>
        <span>&middot;</span>
        <span data-dojo-attach-point="likeNode" class="pointer">Like</span>
        <span data-dojo-attach-point="middotNode">&middot;</span>
        <span data-dojo-attach-point="likeCountNode"></span>
      </div>
    </div>
  </div>
</li>
