<div>
    <div class="userPicture">
        <a data-dojo-attach-point="userPictureNode" href="http://www.facebook.com/${from.id}" target='_blank'>
            <img class="img50" data-dojo-attach-point="userPictureNode" src=""></img>
        </a>
    </div>
    <div class="contentBlock mainWrapper">
        <div class="userName"><a data-dojo-attach-point="userNameNode" href="http://www.facebook.com/${from.id}" target="_blank">${from.name}</a></div>
        <div class="message">${message}</div>
        <div class="attachment clearfix">
            <a data-dojo-attach-point="linkPictureNode" class="linkPicture" href="${link}" target="_blank"><img class="img" src="${picture}" /></a>
            <div class="linkWrapper contentBlock">
                <div class="strong"><a href="${link}">${name}</a></div>
                <span>${caption}</span>
                <div class="desc">${description}</div>
            </div>
        </div>
        <div class="clearfix postActions">
            <img alt="" src="${icon}"></img>
            <span data-dojo-attach-point="likeNode" class="pointer">Like</span>
            <span>&middot;</span>
            <span><a href="${post_link}">Go To Post</a></span>
            <span>&middot;</span>
            <span><a href="${post_link}"><abbr title="${long_created}">${abbr_created}</abbr></a></span>
        </div>
        <div data-dojo-attach-point="likeInfoNode" class="likeInfo">
            <span data-dojo-attach-point="likeCountNode"></span>
        </div>
        <ul>
            <li>
                <ul data-dojo-attach-point="commentsNode">
                </ul>
            </li>
            <li data-dojo-attach-point="new_comment_node" class="commentItem">
                <img data-dojo-attach-point="new_comment_picture" class="comment_user_picture img32" src=""></img>
                <textarea class="new_comment" data-dojo-attach-point="new_comment" data-dojo-type="dijit.form.Textarea"></textarea>
            </li>
        </ul>
    </div>
</div>
