<div>
  <div data-dojo-attach-point="dialogNode" data-dojo-type="dijit.Dialog">
    <img src="/images/genies_face.png"/ class="modal_img">

    <textarea data-dojo-attach-point="messageNode" rows="4" cols="50" placeholder="Write your message here."></textarea>
    <div class="boxfooter">
      <div class="centerHor">
        <div data-dojo-attach-point="submitButton" class="postFb">Share on</div>
      </div>
    </div>
  </div>
</div>
