<div>
  <div data-dojo-attach-point="dialogNode" data-dojo-type="dijit.Dialog">
    <img src="/images/genies_face.png"/ class="modal_img">

    <h1 data-dojo-attach-point="titleNode"></h1>
    <input data-dojo-attach-point="searchNode" class="search" type="text" placeholder="search friend by name here..."/>

    <div data-dojo-attach-point="boxNode" class="userswrap">
    </div>
  </div>
</div>
