<div class="hidden">
  <span data-dojo-attach-point="totalNode" class="num">0</span>
  <p><span>friends</span> are helping you to reach your goal:</p>
  <ul class="help_photos">
    <li>
      <img data-dojo-attach-point="helper0Node" class="hidden" src="" alt="" />
    </li>
    <li>
      <img data-dojo-attach-point="helper1Node" class="hidden" src="" alt="" />
    </li>
    <li>
      <img data-dojo-attach-point="helper2Node" class="hidden" src="" alt="" />
    </li>
    <li>
      <img data-dojo-attach-point="helper3Node" class="hidden" src="" alt="" />
    </li>
    <li data-dojo-attach-point="lastNode">
      <span data-dojo-attach-point="moreNode" class="ppl hidden"></span>
      <img data-dojo-attach-point="helper4Node" class="hidden" src="" alt="" />
    </li>
    <div class="clear"></div>
  </ul>
</div>
