<div>
  <div data-dojo-attach-point="dialogNode" data-dojo-type="dijit.Dialog">
    <img src="/images/genies_face.png"/ class="modal_img">

    <h1>Notifications</h1>
    <ul class="email_opts">

      <li class="section" data-dojo-attach-point="notification_delivery">
        <div>Delivery</div>
        <div class="col_container">
          <ul class="left_col">
            <li data-dojo-attach-point="notification_by_facebook_item">
              <label
                  for="notification_by_facebook_check">
                Receive by facebook
              </label>
              <input
                  id="notification_by_facebook_check"
                  type="checkbox"
                  name="by_facebook"
                  data-dojo-attach-point="notification_by_facebook_check"
                  data-dojo-type="dijit.form.CheckBox"
                  value="true"
                  ${notification_by_facebook_checked}
                  />
            </li>
          </ul>
          <ul class="right_col">
            <li data-dojo-attach-point="notification_by_email_item">
              <label
                  for="notification_by_email_check">
                Receive by email
              </label>
              <input
                  id="notification_by_email_check"
                  type="checkbox"
                  name="by_email"
                  data-dojo-attach-point="notification_by_email_check"
                  data-dojo-type="dijit.form.CheckBox"
                  value="true"
                  ${notification_by_email_checked}
                  />
            </li>
          </ul>
        </div>
        <div class="seperator"></div>
      </li>


      <li class="section" data-dojo-attach-point="friend_join_wrapper">
        <div>Friends Join</div>
        <div class="col_container">
          <ul class="left_col">
            <li data-dojo-attach-point="friendJoinItem">
              <label
                  for="notification_friend_join_check">
                Friends join MWG
              </label>
              <input
                  id="notification_friend_join_check"
                  type="checkbox"
                  name="friend_join"
                  data-dojo-attach-point="notification_friend_join_check"
                  data-dojo-type="dijit.form.CheckBox"
                  value="true"
                  ${notification_friend_join_checked}/>
            </li>
          </ul>
        </div>
        <div class="seperator"></div>
      </li>

      <!-- My Wishes -->
      <li class="section" data-dojo-attach-point="myWishes">
        <div>My Wishes</div>
        <ul class="left_col">
          <li data-dojo-attach-point="myWishShareItem">
            <label
                for="notification_my_wish_share_check">
              Shares</label>
            <input
                id="notification_my_wish_share_check"
                type="checkbox"
                name="my_wish_share"
                data-dojo-attach-point="notification_my_wish_share_check"
                data-dojo-type="dijit.form.CheckBox"
                value="true"
                ${notification_my_wish_share_checked}/>
          </li>
          <li data-dojo-attach-point="myWishCommentItem">
            <label
                for="notification_my_wish_comment_check">
              Comments</label>
            <input
                id="notification_my_wish_comment_check"
                type="checkbox"
                name="my_wish_comment"
                data-dojo-attach-point="notification_my_wish_comment_check"
                data-dojo-type="dijit.form.CheckBox"
                value="true"
                ${notification_my_wish_comment_checked}/>
          </li>
        </ul>
        <div class="col_container">
          <ul class="right_col">
            <li data-dojo-attach-point="myWishLikeItem">
              <label
                  for="notification_my_wish_like_check">
                Likes</label>
              <input
                  id="notification_my_wish_like_check"
                  type="checkbox"
                  name="my_wish_like"
                  data-dojo-attach-point="notification_my_wish_like_check"
                  data-dojo-type="dijit.form.CheckBox"
                  value="true"
                  ${notification_my_wish_like_checked}/>
            </li>
          </ul>
        </div>
        <div class="seperator"></div>
      </li>

      <!-- Friends Wishes -->
      <li class="section" data-dojo-attach-point="friendsWishes">
        <div>Friends Wishes</div>
        <div class="col_container">
          <ul class="left_col">
            <li data-dojo-attach-point="friendWishCreateItem">
              <label
                  for="notification_friend_wish_create_check">
                New</label>
              <input
                  id="notification_friend_wish_create_check"
                  type="checkbox"
                  name="friend_wish_create"
                  data-dojo-attach-point="notification_friend_wish_create_check"
                  data-dojo-type="dijit.form.CheckBox"
                  value="true"
                  ${notification_friend_wish_create_checked}/>
            </li>
          </ul>
          <ul class="right_col">
            <li data-dojo-attach-point="friendWishFulfillItem">
              <label
                  for="notification_friend_wish_fulfill_check">
                Fulfilled</label>
              <input
                  id="notification_friend_wish_fulfill_check"
                  type="checkbox"
                  name="friend_wish_fulfill"
                  data-dojo-attach-point="notification_friend_wish_fulfill_check"
                  data-dojo-type="dijit.form.CheckBox"
                  value="true"
                  ${notification_friend_wish_fulfill_checked}/>
            </li>
          </ul>
        </div>
        <div class="seperator"></div>
      </li>

      <!-- Favorite Wishes -->
      <li class="section" data-dojo-attach-point="favoriteWishes">
        <div>Favorite Wishes</div>
        <ul class="left_col">
          <li data-dojo-attach-point="favoriteWishUpdateItem">
            <label
              for="notification_favorite_wish_update_check">
              Updated</label>
            <input
                id="notification_favorite_wish_update_check"
                type="checkbox"
                name="favorite_wish_update"
                data-dojo-attach-point="notification_favorite_wish_update_check"
                data-dojo-type="dijit.form.CheckBox"
                value="true"
                ${notification_favorite_wish_update_checked}/>
          </li>
          <li data-dojo-attach-point="favoriteWishFulfillItem">
            <label
                for="notification_favorite_wish_fulfill_check">
              Fulfilled</label>
            <input
                id="notification_favorite_wish_fulfill_check"
                type="checkbox"
                name="favorite_wish_fulfill"
                data-dojo-attach-point="notification_favorite_wish_fulfill_check"
                data-dojo-type="dijit.form.CheckBox"
                value="true"
                ${notification_favorite_wish_fulfill_checked}/>
          </li>
          <li data-dojo-attach-point="favoriteWishShareItem">
            <label
                for="notification_favorite_wish_share_check">
              Shares</label>
            <input
                id="notification_favorite_wish_share_check"
                type="checkbox"
                name="favorite_wish_share"
                data-dojo-attach-point="notification_favorite_wish_share_check"
                data-dojo-type="dijit.form.CheckBox"
                value="true"
                ${notification_favorite_wish_share_checked}/>
          </li>
        </ul>
        <ul class="right_col">
          <li data-dojo-attach-point="favoriteWishCommentItem">
            <label
                for="notification_favorite_wish_comment_check">
              Comments</label>
            <input
                id="notification_favorite_wish_comment_check"
                type="checkbox"
                name="favorite_wish_comment"
                data-dojo-attach-point="notification_favorite_wish_comment_check"
                data-dojo-type="dijit.form.CheckBox"
                value="true"
                ${notification_favorite_wish_comment_checked}/>
          </li>
          <li data-dojo-attach-point="favoriteWishLikeItem">
            <label
                for="notification_favorite_wish_like_check">
              Likes</label>
            <input
                id="notification_favorite_wish_like_check"
                type="checkbox"
                name="favorite_wish_like"
                data-dojo-attach-point="notification_favorite_wish_like_check"
                data-dojo-type="dijit.form.CheckBox"
                value="true"
                ${notification_favorite_wish_like_checked}/>
          </li>
        </ul>
      </li>
    </ul>


    <div class="boxfooter">
      <div class="centerHor">
        <div data-dojo-attach-point="closeNode" class="mwgButton">Close</div>
      </div>
    </div>

  </div>
</div>
