<div style="opacity: 0">
  <div data-dojo-attach-point="prevNode" class="prev"></div>
  <div data-dojo-attach-point="nextNode" class="next"></div>
  <div data-dojo-attach-point="slideShowNode" class="slideshow"></div>
</div>
