<div>
  <div data-dojo-attach-point="selectedNode" class="step_regular">
    <a data-dojo-attach-point="thumbNode" class="thumb">
      <img data-dojo-attach-point="logoNode" src="" alt="" />
    </a>
    <div class="float_rt">
      <p data-dojo-attach-point="tabTitleNode" class="step_title"></p>
      <span class="fulfilled"><div data-dojo-attach-point="fulfilledNode" class=""></div></span>
    </div>
    <div class="clear"></div>
  </div>
  <div data-dojo-attach-point="arrowNode"></div>
  <a data-dojo-attach-point="numberLink" href=""><span data-dojo-attach-point="numberNode" class="step_counter"></span></a>
</div>
