<div>
  <div data-dojo-attach-point="selectedNode" class="step_regular">
    <a data-dojo-attach-point="thumbNode" class="thumb">
      <img data-dojo-attach-point="logoNode" src="" alt="" />
    </a>
    <div class="float_rt">
      <p data-dojo-attach-point="tabTitleNode" class="step_title"></p>
      <div data-dojo-attach-point="deleteButton" class="delete">Delete</div>
    </div>
    <div class="clear"></div>
  </div>
  <div data-dojo-attach-point="arrowNode"></div>
  <span data-dojo-attach-point="numberNode" class="step_counter"></span>
</div>
