<div class="${baseClass}">
  <input data-dojo-attach-point="titleEdit" class="blank_title" type="text" placeholder="Insert title here..." maxlength="255"/>
  <div data-dojo-attach-point="titleError"></div>

  <form data-dojo-attach-point="imageUploadForm" method="POST" enctype="multipart/form-data">
  <input class="outOfScreen" data-dojo-attach-point="imgNode" name="img" type="file" accept="image/png, image/jpeg, image/gif"></input>
  </form>
  <div data-dojo-attach-point="imguplNode" class="dragdrop dragdrop_border">
    <span data-dojo-attach-point="uploadButton" class="up_img"></span>
    <!--
    <div class="dndmsg">
      <div data-dojo-attach-point="dndtextNode">Drag and drop your image here or click to upload</div>
    </div>
    -->
  </div>
  <div data-dojo-attach-point="logoError"></div>

  <textarea data-dojo-attach-point="descEdit" class="bigblank" placeholder="Insert description here..." maxlength="2000"></textarea>
  <div data-dojo-attach-point="descError"></div>
</div>
