<div>
  <div class="stepImg">
    <img data-dojo-attach-point="logoNode" src="" />
  </div>
  <div data-dojo-attach-point="descNode" class="stepDesc"></div>

  <div class="stepFooter">
    <ul>
      <li>
        <a data-dojo-attach-point="userLinkPicNode">
          <img data-dojo-attach-point="userpicNode" class="userpic" src="" alt=""/>
        </a>
      </li>
      <li class="who">
        <span class="lightblue">Wish By:</span><br/>
        <a data-dojo-attach-point="userLinkNameNode">
          <span data-dojo-attach-point="usernameNode" class="userStep"></span>
        </a>
      </li>
    </ul>
    <div data-dojo-attach-point="postFb" class="postFb">Share on</div>
    <div data-dojo-attach-point="likeFb" class="likeFb">
      <div class="fb-like" data-send="false" data-width="100" data-show-faces="false"></div>
    </div>
  </div>
  <div class="fb-comments" data-href="${model.url}" data-width="598" data-num-posts="5"></div>
  <div data-dojo-attach-point="postsNode"></div>
</div>

