<div style="opacity: 0">
  <div class="wrapper">
    <h1>Take a Tour</h1>
    <div class="slidetour">
      <img data-dojo-attach-point="stepImage1" style="opacity: 0" class="screenshot" src="/images/tour/step1.png" />
      <img data-dojo-attach-point="stepImage2" style="opacity: 0" class="screenshot" src="/images/tour/step2.png" />
      <img data-dojo-attach-point="stepImage3" style="opacity: 0" class="screenshot" src="/images/tour/step3.png" />
      <img data-dojo-attach-point="stepImage4" style="opacity: 0" class="screenshot" src="/images/tour/step4.png" />
      <img data-dojo-attach-point="stepImage5" style="opacity: 0" class="screenshot" src="/images/tour/step5.png" />
      <img data-dojo-attach-point="stepImage6" style="opacity: 0" class="screenshot" src="/images/tour/step6.png" />
      <img data-dojo-attach-point="stepImage7" style="opacity: 0" class="screenshot" src="/images/tour/step7.png" />
      <div class="nav_slide">
        <ul>
          <li>
            <div class="stepSelector" data-step-number="1"></div>
          </li>
          <li>
            <div class="stepSelector" data-step-number="2"></div>
          </li>
          <li>
            <div class="stepSelector" data-step-number="3"></div>
          </li>
          <li>
            <div class="stepSelector" data-step-number="4"></div>
          </li>
          <li>
            <div class="stepSelector" data-step-number="5"></div>
          </li>
          <li>
            <div class="stepSelector" data-step-number="6"></div>
          </li>
          <li>
            <div class="stepSelector" data-step-number="7"></div>
          </li>
        </ul>
      </div>
      <div class="steps">
        <ul data-dojo-attach-point="sliderNode">
          <!-- step card -->
          <li>
            <div data-dojo-attach-point="step1" class="step">
              <div class="text">
                <h3 class="orange">Make a Wish</h3>
                <p>Easily set goals you want to achieve.</p>
              </div>
              <div class="stepicon stp1"></div>
              <div data-dojo-attach-point="connector1" class="connect c_orange_3"></div>
            </div>
          </li>
          <!-- step card -->
          <li>
            <div data-dojo-attach-point="step2" class="step">
              <div class="text">
                <h3 class="blue">Break it down</h3>
                <p>Map out the steps you need to take.</p>
              </div>
              <div class="stepicon stp2"></div>
              <div data-dojo-attach-point="connector2" class="connect c_blue_2"></div>
            </div>
          </li>
          <!-- step card -->
          <li>
            <div data-dojo-attach-point="step3" class="step">
              <div class="text">
                <h3 class="green">Share it</h3>
                <p>Spread the word and make your dream real.</p>
              </div>
              <div class="stepicon stp3"></div>
              <div data-dojo-attach-point="connector3" class="connect c_green_1"></div>
            </div>
          </li>
          <!-- step card -->
          <li>
            <div data-dojo-attach-point="step4" class="step">
              <div class="text">
                <h3 class="red">Get Help</h3>
                <p>Use the power of your network to help you on your quest.</p>
              </div>
              <div class="stepicon stp4"></div>
              <div data-dojo-attach-point="connector4" class="connect c_red_1"></div>
            </div>
          </li>
          <!-- step card -->
          <li>
            <div data-dojo-attach-point="step5" class="step">
              <div class="text">
                <h3 class="cyan">Fulfill your Wish</h3>
                <p>You made it! Take time and celebrate.</p>
              </div>
              <div class="stepicon stp5"></div>
              <div data-dojo-attach-point="connector5" class="connect c_cyan_1"></div>
            </div>
          </li>
          <!-- step card -->
          <li>
            <div data-dojo-attach-point="step6" class="step">
              <div class="text">
                <h3 class="yellow">AND...</h3>
                <p>Why not help your friends?</p>
              </div>
              <div class="stepicon stp6"></div>
              <div data-dojo-attach-point="connector6" class="connect c_yellow_1"></div>
            </div>
          </li>
          <!-- step card -->
          <li>
            <div data-dojo-attach-point="step7" class="step">
              <div class="text">
                <h3 class="red">Just...</h3>
                <p>Get started!</p>
              </div>
              <div class="stepicon stp7"></div>
              <div data-dojo-attach-point="connector7" class="connect c_red_1"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
