<div>
  <div data-dojo-attach-point="dialogNode" data-dojo-type="dijit.Dialog">
    <img src="/images/genies_face.png"/ class="modal_img">
    <h1>${title}</h1>
    <h2>${message}</h2>
    <div class="boxfooter">
      <div class="centerHor">
        <div data-dojo-attach-point="yesBtn" class="mwgButton">${confirmMsg}</div>
        <div data-dojo-attach-point="noBtn" class="mwgButton">${cancelMsg}</div>
    </div>
  </div>
<div>
