<div>
  <div class="stepheader">
    <img class="timeline_top" src="/images/gray_timeline_top.png"/>
    <div data-dojo-attach-point="selectedNode" class="yellow_box">

      <!--step 0-->
      <div class="step_zero">
        <!--image-->
        <a data-dojo-attach-point="thumbNode" class="thumb" href="">
          <img data-dojo-attach-point="logoNode" src="" alt="" />
        </a>
        <!--info-->
        <span class="ribbon_step">
          <div data-dojo-attach-point="fulfilledNode" class=""></div>
        </span>
        <div class="clear"></div>
      </div>
      <div data-dojo-attach-point="arrowNode"></div>
      <a data-dojo-attach-point="numberLink" href=""><span data-dojo-attach-point="numberNode" class="step_counter">0</span></a>

      <!--user buttons-->
      <ul data-dojo-attach-point="userbtnsNode" class="userbtns">
        <li class="dijitSel">
          <span data-dojo-attach-point="privacyNode" class="block"></span>
        </li>
        <li data-dojo-attach-point="pageNode" class="hidden page"></li>
        <li data-dojo-attach-point="favoriteButton" class="fav">Add to Favourites</li>
        <li data-dojo-attach-point="contactButton" class="contact">Help ${model.user.first_name}</li>
        <a data-dojo-attach-point="editButton" href=""><li class="edit">Edit</li></a>
      </ul>
      <div data-dojo-attach-point="helpers_node"></div>
      <!--stats-->
      <div class="infostats">
        <ul>
          <li>
            <p>Likes</p>
            <span data-dojo-attach-point="likesNode">${model.total_stats.likes}</span>
          <li>
          <li class="middle">
            <p>Comments</p>
            <span data-dojo-attach-point="commentsNode">${model.total_stats.comments}</span>
          <li>
          <li>
            <p>Shares</p>
            <span data-dojo-attach-point="sharesNode">${model.total_stats.shares}</span>
          <li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>

  </div> <!-- stepheader -->
</div>
