<div style="opacity: 0;">
  <div data-dojo-attach-point="favstarNode" class="favstar hidden"></div>
  <a class="wishimg" href="${model.url}">
    <div data-dojo-attach-point="logoWrapNode" class="postimg">
      <img data-dojo-attach-point="logoNode" alt="" src="${model.logo}" />
      <div class="postinfo">
        <ul>
          <li>
            <span class="likes" data-dojo-attach-point="likesNode" title="Likes">${model.total_stats.likes}</span>
          </li>
          <li>
            <span class="comments" data-dojo-attach-point="commentsNode" title="Comments">${model.total_stats.comments}</span>
          </li>
          <li>
            <span class="shares" data-dojo-attach-point="sharesNode" title="Shares">${model.total_stats.shares}</span>
          </li>
        </ul>
      </div>
    </div>
  </a>
  <a href="${model.url}">
  </a>
  <div data-dojo-attach-point="postuser" class="postuser">
    <ul data-dojo-attach-point="ulNode">
      <li class="userpic" title="${model.user.name}">
      <a href="/browse/${model.user.user_id}"><img alt="" src="${model.user.picture}" /></a>
      </li>
      <li class="username" title="${model.user.name}">
        <p class="title" title="${model.title}">${model.title}</p>
        <p class="hellouser"><span class="lightblue">by</span> <a href="${model.user.url}">${model.user.name}</a></p>
      </li>
    </ul>
  </div>
</div>
