<div>
  <div class="stepheader">
    <img class="timeline_top" src="/images/gray_timeline_top.png"/>
    <div data-dojo-attach-point="selectedNode" class="yellow_box">
      <!--step 0-->
      <div class="step_zero">
        <!--image-->
        <a data-dojo-attach-point="thumbNode" class="thumb">
          <img data-dojo-attach-point="logoNode" src="" alt="" />
        </a>
        <!--info-->
        <span class="ribbon_step">
          <div data-dojo-attach-point="fulfilledNode" class="ribbon_default"></div>
        </span>
        <div class="clear"></div>
      </div>
      <div data-dojo-attach-point="arrowNode"></div>
      <span data-dojo-attach-point="numberNode" class="step_counter">0</span>

      <!--user buttons-->
      <ul class="userbtns">
        <li>
          <span data-dojo-attach-point="privacyNode"></span>
        </li>
        <li class="hidden" data-dojo-attach-point="friendlistNode">
          <div data-dojo-attach-point="friendlistSelect"></div>
        </li>
        <li class="hidden page no_page" data-dojo-attach-point="pageNode">
          Add to a page
        </li>
        <li>
          <div data-dojo-attach-point="deleteButton" class="delete">Delete Wish</div>
        </li>
      </ul>
      <h2>Steps</h2>
      <h3>break it down</h3>
    </div>
  </div>
  <div class="finish_wrapper">
    <div data-dojo-attach-point="makeWishNode" class="finish">Create Wish</div>
  </div>
</div>
