.bottomcnt {
    width:100%;
    min-width:1024px;
}
.bottom {
    width: 100%;
    min-width: 1024px;
    border-top: 12px solid #19222b;
    border-bottom:6px solid #e0e1e3;
    background-color: #FFFFFF;

    H1 {
        @include mainFont(60px);
        color:#19222b;
        letter-spacing:-5px;
        text-align:center;
        margin:0 0 32px 0;
    }
    H3 {
        @include mainFont(20px);
        color:#19222b;
    }

    .arrow1 {
        position:absolute;
        top:-12px;
        left:356px;
        width:265px;
        height:66px;
        background:transparent url('../images/down_arrow.png') no-repeat;
    }
    .wishwrap {
        padding:75px 0 0 0;
        position:relative;

        .fb_sign{margin:0 0 63px 0;padding:0 0 0 355px;}
        .slideshow {
            @include pie-clearfix;
            overflow: hidden;
            height: 270px;
            width:933px;
            margin:0 0 25px 21px;

            .slide {
                overflow: hidden;
                height: 400px;
                width:933px;
                padding:0 0 0 15px;
                ul li {
                    list-style:none;
                }

                .wishCard {
                    margin-right: 12px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .next {
            cursor: pointer;
            position:absolute;
            right:0;
            top:280px;
            display:block;
            width:21px;
            height:34px;
            background:transparent url('../images/slide_arrows.png') no-repeat -63px 0;
            &:hover {
                background:transparent url('../images/slide_arrows.png') no-repeat -42px 0;
            }
        }
        .prev {
            cursor: pointer;
            position:absolute;
            left:0;
            top:280px;
            display:block;
            width:21px;
            height:34px;
            background:transparent url('../images/slide_arrows.png') no-repeat 0 0;
            &:hover {
                background:transparent url('../images/slide_arrows.png') no-repeat -21px 0;
            }
        }
    }
}

//DIV.steps{position:relative;height:470px;background:transparent url('../images/steps_bg.png') no-repeat 139px 160px;}
//DIV.step1{position:absolute;top:120px;left:68px;width:337px;height:153px;padding:0 15px 0 0;}
//DIV.step2{position:absolute;top:273px;left:331px;width:443px;height:153px;}
//DIV.step3{position:absolute;top:82px;right:21px;width:388px;height:153px;}
//DIV.steps UL{list-style:none;line-height:21px;}
//DIV.step1 UL LI{min-height:113px;padding:18px 0 0 135px;background:transparent url('../images/step1.png') no-repeat top left;position:relative;}
//DIV.step1 UL LI:hover{background:transparent url('../images/step1.png') no-repeat 0 -153px;}
//DIV.step1 H3{position:absolute;bottom:10px;left:15px;}
//DIV.step2 UL LI{min-height:113px;padding:0 0 0 135px;background:transparent url('../images/step2.png') no-repeat top left;position:relative;}
//DIV.step2 UL LI:hover{background:transparent url('../images/step2.png') no-repeat 0 -153px;}
//DIV.step2 H3{position:absolute;bottom:10px;left:17px;}
//DIV.step3 UL LI{min-height:113px;padding:14px 0 0 135px;background:transparent url('../images/step3.png') no-repeat top left;position:relative;}
//DIV.step3 UL LI:hover{background:transparent url('../images/step3.png') no-repeat 0 -153px;}
//DIV.step3 H3{position:absolute;bottom:10px;left:19px;}
//
//DIV.wishwrap{padding:75px 0 0 0;position:relative;}
//SPAN.laptop{width:281px;height:228px;display:block;background:transparent url('../images/laptop.png') no-repeat;z-index:10;position:absolute;left:140px;top:0;}
//.wishex{
//    background-color:#fff;
//    padding:0 36px 60px 36px;
//    margin:0 0 50px 0;
//    border-bottom:6px solid #e0e1e3;
//
//    #examples {
//        .wish {
//            margin-right: 10px;
//            &:last-child {
//                margin-right: 0px !important;
//            }
//        }
//    }
//}
//DIV.wishex H1{padding:54px 0 0 389px;margin:0 0 90px 0;}
//DIV.wishex UL{list-style:none;}
//DIV.wishex UL LI{float:left;}
//DIV.wishex UL LI.center_li{margin:0 12px;}
//
//DIV.final{padding:60px 0 0 45px; position:relative; height:100px;}
//DIV.final H2{width:490px;margin:0 0 15px 0;font:normal 22px 'MuseoSlab500Regular',arial, helvetica, sans-serif;color:#19222b;}
//DIV.final P{width:490px;color:#5392d4;}
//A.morebtn{display:block;width:264px;height:50px;background:transparent url('../images/green_btn_large.png') no-repeat 0 0;position:absolute;top:100px;right:59px;}
//A.morebtn:hover{background:transparent url('../images/green_btn_large.png') no-repeat 0 -50px;}
//DIV.wishbg{background-color:#fff;padding:36px 36px 60px 36px;margin:0 0 50px 0;border-bottom:6px solid #e0e1e3;}
//DIV.wishbg P{font-size:16px;margin:0 0 15px 0;}
//DIV.wishbg P SPAN.blue{color:#5392d4;}
//DIV.blue{padding:43px 43px 28px 43px;margin: 0 0 50px 0;background-color:#dfefff;}
