
.filter {
    width:857px;
    padding:7px 22px 7px 24px;
    margin:0 0 25px 0;
    @include secondaryFont(15px);
    color:#69a9dc;
    background-color:#e2f2ff;
    @include border-radius(3px);
    @include pie-clearfix;

    ul li {
        list-style:none;
        .showFilter {
            display:block;
            //width:500px;
            padding:7px 0 0 0;
            text-transform:uppercase;
            img {
                vertical-align: top;
                margin-right: 3px;
                height: 35px;
                width: 35px;
                //background: url('/images/fb_mask.png') no-repeat;
                &.mask {
                    position: absolute;
                    z-index: 1000;
                }
            }
            //span {
            //    height: 35px;
            //}
        }
        .sf {
            cursor: pointer;
            text-decoration:underline;
            color:#69a9dc;
            padding:7px 0 0 0;
            margin:0 0 0 22px;
            display:block;
        }
        .sf:hover {
            text-decoration:none;
        }
    }
    a.filter_drop {
        color:#19222b;
        text-decoration:none;
        display:block;
        padding:6px 0 0 28px;
        width:182px;
        height:26px;
        border:1px solid #90c8f5;
        background:#fff url('../images/drop_bg.png') no-repeat 189px 15px;
        @include border-radius(3px);
    }

    .dijitSelect {
        width: 182px;
        height:26px;
        .dijitArrowButton {
            margin-top: 10px;
        }
    }

    .dijitSelectHover {
        background-image: none;
        .dijitArrowButton {
            .dijitArrowButtonInner {
                background-position: 0 0;
            }
        }
    }

    .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
        background-position: 0 0;
    }
    .dijitSelectOpened .dijitArrowButton .dijitArrowButtonInner {
        background-position: 0 -25px;
    }

    .dijitSelect {
        color: black;
        position:relative;
        //width: 307px + 5px + 30px;
        height: 32px + 9px;
        //width:307px;
        //height:32px;
        border:1px solid #90c8f5;
        //padding:9px 5px 0 30px;
        //margin:0 0 26px 0;
        background-color:#fff;
        @include secondaryFont(15px);
        @include border-radius(3px);
        border-collapse: separate;

        //.dijitButtonNode.dijitArrowButton {
        //    display: block;
        //    height:16px;
        //    outline:none;
        //    position:absolute;
        //    right:20px;
        //    top:20px;
        //    width:11px;

        //    // dijitButtonNode
        //    background-color: inherit !important;
        //    background-image: none !important;
        //    //border-radius: 3px 3px 3px 3px;
        //    //color: #69A9DC !important;
        //    //font: 13px arial,helvetica,sans-serif !important;
        //    //text-align: center;
        //}

        .dijitButtonContents {
            border: none;
            padding-left: 30px;
        }

        .dijitButtonNode {
            background-color: transparent !important;
        }

        .dijitArrowButtonContainer {
            border: none;
        }

        .dijitArrowButtonInner {
            background-image: url(../images/sml_arrow.png);
            background-position: 0 0;
            background-repeat: no-repeat;
            margin: 0;
            width: 16px;
            position: relative;
            top: 5px;
            left: 5px;
        }
        .dijitArrowButton {
            background-color: transparent;
            background-image: none;
            background-repeat: no-repeat;
            padding: 0;
            float: right;
            margin-right: 8px;
            margin-top: 14px;
        }
    }
}
