
DIV.footer{
    width: 975px;
    margin: 0 auto;
    @include mainFont(14px);

    ul {
        list-style: none;
        margin: 0 0 0 364px;
        li {
            float: left;
            margin: 0 18px 10px 0;
            a {
                color: #5392d4;
                text-decoration: none;
                &:hover {text-decoration: underline;}
            }
        }
    }
}

DIV.copyright {
    padding: 10px 0 0 0;
    width: 278px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #dadae2;
}
