
@font-face {
    font-family: 'BloklettersBalpen';
    src: url('../fonts/Blokletters-Balpen-webfont.eot');
    src: url('../fonts/Blokletters-Balpen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Blokletters-Balpen-webfont.woff') format('woff'),
         url('../fonts/Blokletters-Balpen-webfont.ttf') format('truetype'),
         url('../fonts/Blokletters-Balpen-webfont.svg#BloklettersBalpen') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CoreHumanistSansRegular';
    src: url('../fonts/CoreHumanistSans-Regular-webfont.eot');
    src: url('../fonts/CoreHumanistSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CoreHumanistSans-Regular-webfont.woff') format('woff'),
         url('../fonts/CoreHumanistSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/CoreHumanistSans-Regular-webfont.svg#CoreHumanistSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSlab500Regular';
    src: url('../fonts/museo_slab_500-webfont.eot');
    src: url('../fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_slab_500-webfont.woff') format('woff'),
         url('../fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('../fonts/museo_slab_500-webfont.svg#MuseoSlab500Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin mainFont($font_size) {
    font: normal $font_size 'MuseoSlab500Regular',arial,helvetica,sans-serif;
}

@mixin secondaryFont($font_size) {
    font: normal $font_size 'CoreHumanistSansRegular',arial,helvetica,sans-serif;
}

.clickable {
    cursor: pointer;
}

$lightblue: #69a9dc;
.lightblue{color: $lightblue;}

body {
    @include secondaryFont(15px);
    color: #19222b;
    margin: 0 auto;
    background: #f5f7fd url('../images/bg.png') repeat;
}

.wrapper {
    width: 975px;
    margin: 0 auto;
    position: relative;
    @include pie-clearfix;
}

// TODO remove and replace
.clear {
    clear :both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.outOfScreen {
    display:block;
    position:absolute;
    top:0;
    left:-9999px;
}

a {text-decoration: underline;}
a:hover {text-decoration: none;}
.float_rt {float: right;}
.float_lt {float: left;}
.hidden {display: none!important;}
.blue_text{color:#5392d4;}
.bl_text {
  color: #69A9DC;
}

.iframe_body {
    width: 293px;
}

@mixin centerText {
    //height: 100%;
    //width: 100%;
    display: table-row;
    text-align:center;
    vertical-align: center;
}

.center_text {
    text-align:center;
}

@mixin centerHor {
    display: table;
    margin-left:auto;
    margin-right:auto;
}
.centerHor {
    @include centerHor;
}

.def_cursor {cursor:default !important;}

@mixin centerVertical {
    display: table-cell;
    vertical-align: middle;
}

.bg_color {
    background-image: none !important;
    background: #19222B !important;
}

.center_left {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
/*
.sbHolder {
  cursor: pointer;
}
*/

#overlay {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #F0F0F0;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

/* -------- Buttons -------- */
.fbconnect {
    cursor:pointer;
    width:264px;
    height:50px;
    display:block;
    background:transparent url('../images/fbconnect.png') no-repeat 0 0;

    &:hover {
        cursor:pointer;
        background:transparent url('../images/fbconnect.png') no-repeat 0 -50px;
    }
}

.login {
    cursor:pointer;
    width:119px;
    height:51px;
    display:block;
    background:transparent url('../images/login.png') no-repeat 0 0;
    &:hover {
        background:transparent url('../images/login.png') no-repeat 0 -51px;
    }
}

//.fbindex{position:absolute;top:120px;right:59px;}

//.fbconnect_disabled{
//  cursor: default!important;
//  background:transparent url('../images/fbconnect_disabled.png') no-repeat 0 0!important;
//}
//.fbconnect_disabled:hover{
//  cursor: default!important;
//  background:transparent url('../images/fbconnect_disabled.png') no-repeat 0 0!important;
//}

//.btn_disabled {
//    cursor:default!important;
//    color: #BBBBBB!important;
//    background: url('../images/btn_disabled.png') no-repeat 0 0!important;
//    text-align: center;
//    font:normal 16px 'MuseoSlab500Regular',arial, helvetica, sans-serif;
//    text-decoration:none;
//    width:149px;
//    height:33px;
//    padding:15px 0 0 0;
//    display:block;
//}

//.regular_inline{
//  cursor:pointer;
//  text-align:center;
//  @include mainFont(16px);
//  color:#fff;
//  text-decoration:none;
//  width:149px;
//  height:33px;
//  padding:15px 0 0 0;
//  display:inline-block;
//  background:transparent url('../images/btn.png') no-repeat -149px 0;
//}
//.regular{
//    cursor:pointer;
//    text-align:center;
//    @include mainFont(16px);
//    color:#fff;
//    text-decoration:none;
//    width:149px;
//    height:33px;
//    padding:15px 0 0 0;
//    display:block;
//    background:transparent url('../images/btn.png') no-repeat -149px 0;
//
//    &:hover {
//        background:transparent url('../images/btn.png') no-repeat -149px -101px;
//    }
//    &:active {
//        background:transparent url('../images/btn.png') no-repeat -149px -52px;
//    }
//}

.mwgButton {
    cursor: pointer;
    text-align: center;
    @include mainFont(16px);
    color: #fff;
    text-decoration: none;
    width: 149px;
    height: 33px;
    padding: 15px 0 0 0;
    display: inline-block;
    background: transparent url('../images/btn.png') no-repeat -149px 0;
    &:hover {background: transparent url('../images/btn.png') no-repeat -149px -101px;}
    &:active {background: transparent url('../images/btn.png') no-repeat -149px -52px;}

    &.mwgButtonInline {
        display: inline-block;
    }

    &.mwgButtonActive {
        background:transparent url('../images/btn.png') no-repeat -298px -52px;
        &:hover {background:transparent url('../images/btn.png') no-repeat -298px -153px;}
        &:active {background:transparent url('../images/btn.png') no-repeat -298px 0;}
    }

    &.mwgButtonSpecial {
        background:transparent url('../images/btn.png') no-repeat -447px 0;
        &:hover {background:transparent url('../images/btn.png') no-repeat -447px -101px;}
        &:active {background:transparent url('../images/btn.png') no-repeat -447px -52px;}
    }

    &.mwgButtonGrey {
        background:transparent url('../images/btn.png') no-repeat 0 0;
        &:hover {background:transparent url('../images/btn.png') no-repeat 0 -48px;}
        &:active {background:transparent url('../images/btn.png') no-repeat 0 -96px;}
    }
}


//.browse_tab {
//  display: inline-block;
//  background-color: #FFFFFF;
//  margin-left: 40px;
//  padding: 10px 20px;
//  /*height: 45px;*/
//  font: normal 16px 'MuseoSlab500Regular',arial, helvetica, sans-serif;
//}
//
//.browse_tab img {
//  width: 25px;
//  height: 25px;
//  vertical-align: middle;
//}
//
//.browse_tab span {
//  margin-left: 10px;
//}

//FORM.step_one{padding:0;}
//INPUT.submit{
//  font:normal 16px 'MuseoSlab500Regular',arial, helvetica, sans-serif;
//  color:#fff;
//  border:none;
//  width:149px;
//  padding:14px 0 15px 0;
//  background:transparent url('../images/btn.png') no-repeat -149px 0;
//  cursor:pointer;
//}
//INPUT.submit:hover{background:transparent url('../images/btn.png') no-repeat -149px -48px;}

#makewish {
    cursor:pointer;
    display:block;
    width:291px;
    height:360px;
    background:transparent url('../images/wishcard.gif') no-repeat 0 0;
    position:relative;
    &:hover {
        background:transparent url('../images/wishcard.gif') no-repeat -291px 0;
    }

    .help_wish {
        color:#90c8f5;
        font-size:13px;
        position:absolute;
        top:265px;
        left:0;
        padding:12px;
        width:267px;
        text-align:center;
        line-height:17px;
        a {
            color:#afc750;
            text-decoration:underline;
            &:hover {
                text-decoration:none;
            }
        }
    }
}

.wishboardCover {
    display:block;
    position:relative;
    img {
        width: 291px;
        display: block;
        border: none;
    }
    .upload_cover {
        color: #90c8f5;
        font-size: 13px;
        position: absolute;
        left: 60px;
        bottom: 0px;
        padding: 12px;
    }
}


/* ------------------------- */
/*          Dialogs          */
/* ------------------------- */


//.boxcontainer{
//    margin: 0 auto;
//    width: 560px;
//    padding: 17px;
//    background-color: #fff;
//    @include border-radius(3px);
//
//    .boxhead{
//        padding: 12px 0 10px 0;
//        text-align: center;
//        background-color: #f0f0f0;
//        margin: 0 0 17px 0;
//        @include border-radius(3px);
//        h1{
//            @include mainFont(20px);
//            letter-spacing: -0.5px;
//        }
//    }
//
//    .boxcnt{
//        padding: 4px 20px;
//        min-height: 50px;
//        max-height: 300px;
//        overflow-y: auto;
//        // TODO change font?
//        font: normal 15px 'BloklettersBalpen',arial, helvetica, sans-serif;
//        text-align: center;
//
//    }
//
//    .boxfooter {
//        padding:12px 0 10px 0;
//        background-color:#f0f0f0;
//        @include border-radius(3px);
//
//        .mwgButton {
//            margin-right: 10px;
//            &:last-child {
//                margin-right: 0;
//            }
//        }
//    }
//
//    //INPUT.search {
//    //    width:212px;
//    //    height:37px;
//    //    border:1px solid #90c8f5;
//    //    padding:4px 100px 0 30px;
//    //    color:#19222b;
//    //    font:normal 12px 'BloklettersBalpen',arial, helvetica, sans-serif;
//    //    @include border-radius(3px);
//    //    background:#fff url('../images/searchform_bg.png') no-repeat 259px 6px;
//    //}
//
//
//}

.friendDialog {
    .boxsearch{
        width: 560px;
        text-align: center;
        margin: 0 0 9px 0;

        ul li{
            clear: both;
            margin-bottom: 2px;
        }

        img.userPicture{
            width:25px;
            height:25px;
            margin-right: 5px;
            vertical-align: middle;
        }
        img.disabled {
            opacity : 0.4;
            background-color: #000;
        }
        // TODO check which are still required
        label.disabled, span.disabled , a.disabled{
            color: #C0C0C0;
            text-decoration: none;
        }

        //label{
        //    width: 190px;
        //    white-space: nowrap;
        //    overflow: hidden;
        //    text-overflow:ellipsis;
        //}
        //input{vertical-align: baseline;}
    }

}

.postDialog {
    .postContainer {
        margin-top: 5px;
        background-color: #F7F7F7;
        width: 344px;
    }

    .postPicture {
        vertical-align: middle;
        max-width: 121px;
        float: left;
        margin-right: 4px;
    }

    .postContent {
        padding: 8px 8px;
    }

    .postTitle {
        font: normal 14px 'BloklettersBalpen',arial, helvetica, sans-serif;
        color: #69A9DC;
    }

    .postDesc {
        font: normal 12px 'BloklettersBalpen',arial, helvetica, sans-serif;
    }
}

.addReadStream {
    cursor: pointer;
    color: $lightblue;
}


.postFb {
    cursor: pointer;
    float: right;
    width: 130px;
    height: 32px;
    display: block;
    padding: 15px 0 0 18px;
    @include mainFont(16px);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 1px #335d95;
    text-align: start;
    background: transparent url('/images/btn.png') no-repeat 0 -312px;
    &:hover {
        background: transparent url('/images/btn.png') no-repeat -148px -312px;
    }
}

