.darklogo {
    float:left;
    width:194px;
    height:58px;
    display:block;
    margin:0 116px 0 21px;
    background:transparent url('/images/logo_dark.png') no-repeat;
}
.lightlogo {
    float:left;
    width:194px;
    height:58px;
    display:block;
    margin:0 95px 0 21px;
    background:transparent url('/images/logo_light.png') no-repeat;
}

.header {
    width:100%;
    min-width:1024px;
    padding:25px 0 20px 0;
    margin:0 0 10px 0;
    background:transparent url('/images/bgheader.png') repeat-x;
}

.top {
    width:100%;
    min-width:1024px;
    border-top:7px solid #19222b;
    background:#303a43 url('/images/bgtop.png') repeat;

    .toparea {
        height:540px;
        padding:47px 21px 0 21px;
        position:relative;
        background:transparent url('/images/topillustration.png') no-repeat;

        .tagline {
            position:absolute;
            top:135px;
            left:530px;
            width:448px;

            .video {
                margin:0 0 0 2px;
                display:block;
                width:260px;
                height:119px;
                background:transparent url('/images/video.png') no-repeat;
                &:hover{opacity:0.8;}
            }

            h1 {
                @include mainFont(75px);
                color:#fff;
                letter-spacing:-5px;
                text-shadow: 1px 2px 1px #303138;
                filter: dropshadow(color=#303138, offx=1, offy=2);
                margin:0 0 0 0;
                &.off_friend {
                    @include secondaryFont(48px);
                    color:#fff;
                    letter-spacing:-3px;
                    height: 180px;
                    line-height:60px;
                    text-shadow: 1px 2px 1px #303138;
                    filter: dropshadow(color=#303138, offx=1, offy=2);
                    margin:0 0 25px 0;
                }
            }
            p {
                @include secondaryFont(19px);
                color:#94cffe;
                margin:0 0 24px 0;
                line-height:21px;
                letter-spacing:2px;
                &.lowText {
                    margin: 40px 0 105px;
                }
            }
            a {color:#94cffe;}
            ul {
                margin:22px 0 0 0;
                li {
                    margin:0 8px 0 0;
                    list-style:none;
                }
            }
        }
    }
}


.offline_overlay {
    padding:25px 0 23px 0;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    border-top:12px solid #19222b;
    border-bottom:12px solid #19222b;
    background:#303a43 url('../images/bgtop.png') repeat;
    z-index:300;

    .off_info {
        margin:0 0 0 220px;
        h1 {
            font:normal 26px 'CoreHumanistSansRegular',arial, helvetica, sans-serif;
            color:#f2f2f2;
            text-transform:uppercase;
            text-shadow: 1px 2px 1px #303138;
            filter: dropshadow(color=#303138, offx=1, offy=2);
        }
        p {
            font:normal 17px 'CoreHumanistSansRegular',arial, helvetica, sans-serif;
            color:#94cffe;
            margin:0 0 10px 0;
        }
        ul {
            margin:22px 0 0 0;
            li {
                margin:0 8px 0 0;
                list-style:none;
            }
        }
    }
}
.arrow2 {
    position:absolute;
    bottom:-66px;
    left:50%;
    margin-left:-132px;
    width:265px;
    height:66px;
    background:transparent url('/images/down_arrow.png') no-repeat;
}
.offline_extrapad {
    height: 205px;
    width: 100%;
}

.top404 {
    height:404px;
    padding:47px 21px 30px 21px;
    margin:0 0 60px 0;
    position:relative;
    border-bottom:6px solid #e0e1e3;
    background:transparent url('/images/404illustration.png') no-repeat 90px 0;
}

.taginfo {
    position:absolute;
    top:70px;
    left:506px;
    width:448px;

    h1 {
        @include mainFont(75px);
        color:#19222b;
        letter-spacing:-5px;
        line-height:65px;
        margin:0 0 30px 0;
    }
    p {
        @include secondaryFont(19px);
        color:#478ec6;
        margin:0 0 15px 0;
        line-height:21px;
    }
}
