
.nav {
    width:468px;
    float:right;
    margin:0 21px 0 0;
    ul {
        list-style:none;
        li {
            float:left;
            margin:0 9px 0 0;
            text-align:center;
            &:last-child {float:left;margin:0;}
        }
    }
}

.topnav {
    float:right;
    ul {
        list-style:none;
        li {
            float:left;
            margin:0 9px 0 0;
            text-align:center;
            &:last-child{float:left;margin:0;}
            a {
                font:normal 16px 'MuseoSlab500Regular',arial, helvetica, sans-serif;
                color:#fff;
                text-decoration:none;
                width:149px;
                height:34px;
                padding:14px 0 0 0;
                display:block;
                background:transparent url('/images/btn.png') no-repeat 0 0;
                &:hover {
                    background:transparent url('/images/btn.png') no-repeat 0 -51px;
                }
            }
        }
    }
}
