
.no_updates {
    @include secondaryFont(30px);
    color:#19222b;
    text-align:center;
}
.no_updates_img {
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
}
.no_updates_msg {
    @include secondaryFont(26px);
    color:#69a9dc;
    text-align:center;
    margin-bottom: 25px;
}
