.tour {
    width: 100%;
    min-width:1024px;
    padding:65px 0;

    h1 {
        font:normal 60px 'MuseoSlab500Regular',arial, helvetica, sans-serif;
        color:#19222b;
        letter-spacing:-5px;
        text-align:center;
        margin:0 0 32px 0;
    }

    .slidetour {
        width:100%;
        height:414px;
        background:transparent url('../images/tour/laptop.png') no-repeat 2px 34px;
        position:relative;

        img.screenshot{
            position:absolute;
            top:59px;
            left:69px;
            display:block;
            z-index:5;
        }

        .nav_slide {
            position:absolute;
            top:143px;
            right:4px;
            ul {
                list-style:none;
                li {
                    float:none;
                    margin:0 0 7px 0;
                    div {
                        cursor: pointer;
                        display:block;
                        width:9px;
                        height:9px;
                        background-color:transparent;
                        border:3px solid #94a5b6;
                        @include border-radius(7px);
                        &.select {border:3px solid #19222b;}
                    }
                }
            }
        }
        .steps {
            cursor: pointer;
            position:absolute;
            top:0;
            right:51px;
            width:371px;
            height:414px;
            overflow: hidden;
            ul {
                list-style:none;
                li {
                    float:none;
                    margin:0 0 14px 0;
                    .step {padding:20px 0 0 135px;position:relative;}
                    .opacity {opacity:0.5;}
                    .step {
                        .stepicon{position:absolute;top:0;right:15px;width:69px;height:60px;}
                        .connect{position:absolute;top:20px;left:0;width:128px;height:110px;}
                        div.text {
                            padding:19px 14px 20px 14px;
                            background-color:#fff;
                            box-shadow:1px 1px 1px #d4d4d4;
                            h3 {
                                @include secondaryFont(17px);
                                margin:0 0 15px 0;
                            }
                            p {
                                @include mainFont(14px);
                                line-height:15px;
                            }

                        }
                    }
                }
            }
        }
    }
}
.orange{color:#f6921d;}
.blue{color:#90c7f4;}
.green{color:#b7cf53;}
.red{color:#f66a6a;}
.cyan{color:#74d4c3;}
.yellow{color:#f5d14b;}
.stp1{background:transparent url('../images/tour/stepicon.png') no-repeat 0 0;}
.stp2{background:transparent url('../images/tour/stepicon.png') no-repeat -69px 0;}
.stp3{background:transparent url('../images/tour/stepicon.png') no-repeat -138px 0;}
.stp4{background:transparent url('../images/tour/stepicon.png') no-repeat -207px 0;}
.stp5{background:transparent url('../images/tour/stepicon.png') no-repeat -276px 0;}
.stp6{background:transparent url('../images/tour/stepicon.png') no-repeat -345px 0;}
.stp7{background:transparent url('../images/tour/stepicon.png') no-repeat -414px 0;}
.c_orange_1{background:transparent url('../images/tour/connect_orange.png') no-repeat 0 0;}
.c_orange_2{background:transparent url('../images/tour/connect_orange.png') no-repeat -128px 0;}
.c_orange_3{background:transparent url('../images/tour/connect_orange.png') no-repeat -256px 0;}
.c_blue_1{background:transparent url('../images/tour/connect_blue.png') no-repeat 0 0;}
.c_blue_2{background:transparent url('../images/tour/connect_blue.png') no-repeat -128px 0;}
.c_blue_3{background:transparent url('../images/tour/connect_blue.png') no-repeat -256px 0;}
.c_green_1{background:transparent url('../images/tour/connect_green.png') no-repeat 0 0;}
.c_green_2{background:transparent url('../images/tour/connect_green.png') no-repeat -128px 0;}
.c_green_3{background:transparent url('../images/tour/connect_green.png') no-repeat -256px 0;}
.c_red_1{background:transparent url('../images/tour/connect_red.png') no-repeat 0 0;}
.c_red_2{background:transparent url('../images/tour/connect_red.png') no-repeat -128px 0;}
.c_red_3{background:transparent url('../images/tour/connect_red.png') no-repeat -256px 0;}
.c_cyan_1{background:transparent url('../images/tour/connect_cyan.png') no-repeat 0 0;}
.c_cyan_2{background:transparent url('../images/tour/connect_cyan.png') no-repeat -128px 0;}
.c_cyan_3{background:transparent url('../images/tour/connect_cyan.png') no-repeat -256px 0;}
.c_yellow_1{background:transparent url('../images/tour/connect_yellow.png') no-repeat 0 0;}
.c_yellow_2{background:transparent url('../images/tour/connect_yellow.png') no-repeat -128px 0;}
.c_yellow_3{background:transparent url('../images/tour/connect_yellow.png') no-repeat -256px 0;}
