.tos_wrapper {

    @include secondaryFont(16px);
    width: 600px;
    margin: auto;

    b {
        font-weight: bold;
    }

    ul {
        li {
            list-style-position: inside;
            list-style-type: disc;
            padding-bottom: 0.85em;
        }
    }
    ol {

        li {
            list-style-position: inside;
            list-style-type: decimal;
            padding-bottom: 0.85em;
        }
    }

    h1 {
        font-size: 36px;
        margin: 40px 0 40px;
    }
    h2 {
        font-size: 36px;
        margin: 60px 0 40px;
    }
    h3 {
        font-size: 24px;
        margin: 20px 0 10px;
    }
    h4 {
        font-size: 24px;
        margin: 20px 0 10px;
    }
    h5 {
        font-size: 16px;
    }
}
