.useropts {
    position: relative;
    width: 975px;
    margin: 0 auto;
    z-index: 100;

    .tips {
        padding: 0 0 10px 0;
        height: 69px;
        width: 648px;
        position: relative;

        .face {
            position:absolute;
            left:14px;
            top:-9px;
        }
        .tooltip {
            height:38px;
            padding:18px 0 0 90px;
            a {
                //text-decoration: none;
                color: #000;
            }
            .left {
                height:38px;
                width:9px;
                display:block;
                background:transparent url('../images/left_span_border.png') no-repeat;
            }
            .center {
                height:30px;
                max-width: 490px;
                padding:8px 15px 0 31px;
                background:transparent url('../images/center_span_border.png') repeat-x;
            }
            .right {
                height:38px;
                width:9px;
                display:block;
                background:transparent url('../images/right_span_border.png') no-repeat;
            }
        }
        a {
            text-decoration: underline;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .opts {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 21px;
        display: block;
        width: 198px;
        height: 50px;
        border: 1px solid #90c8f5;
        @include border-radius(3px);
        padding: 5px 6px;
        color: #0f3d46;
        text-decoration: none;
        background: #fff url('../images/drop_bg.png') no-repeat 188px 29px;
    }
    .userpic {margin: 0 10px 0 0;}
    .hellouser {margin: 7px 0 0 0;line-height: 18px;}
    #opts_menu_user_name {
        width: 130px;
        display: inline-block;
        @include ellipsis;
    }

    .user {
        cursor: pointer;
        list-style: none;
        display: none;
        position: absolute;
        top: 62px;
        right: 21px;
        display: block;
        li {
            width: 190px;
            display: block;
            padding: 5px 0 0 20px;
            color: #19222b;
            text-decoration: none;
            background-color: #f2f9ff;
            border-bottom: 1px solid #90c8f5;
            border-left: 1px solid #90c8f5;
            border-right: 1px solid #90c8f5;
            &:hover{background-color:#fff;}

            &.accountEntry {
                background-color: #fff;
                &:hover{background-color:#f2f9ff;}
                img {
                    height: 25px;
                    vertical-align: middle;
                    margin: 2px;
                }
            }
            .account_name {
                width: 130px;
                @include ellipsis;
                display: inline-block;
            }
            .delete_account {
                float: right;
                height: 24px;
                width: 24px;
                background: transparent url('/images/icons.png') no-repeat 0px -389px;
            }
        }
    }
}
