
.wishtitle {
    @include mainFont(22px);
    color: #19222b;
    text-transform: uppercase;
    margin: 0 0 12px 7px;
    @include ellipsis;
}

/* Wish Container
----------------------------------*/
.wishContainer {
    padding: 40px 24px 60px 36px;
    background-color: #fff;
    margin: 0 0 50px 0;
    border-bottom: 6px solid #e0e1e3;
    //position:relative;
    @include pie-clearfix;

    #content ul{list-style-type: disc;padding-bottom: 0.85em;}
    #content ul li{float:none; display:list-item;}
    #content {
        margin-top: 15px;
        font-family: 'BloklettersBalpen',arial,helvetica,sans-serif;
    }

    .wishContent {
        width:598px;
        float:left;
        .dijitLayoutContainer {
            overflow: visible;
        }
    }

    .wishArea {
        width:577px;
        float:left;
        margin: 0 11px 0 0;
        //padding:50px 39px 50px 36px;
        @include border-radius(3px);
        @include pie-clearfix;
    }

}


/* Inside Tabs
----------------------------------*/

.share_buttons {
    $item_width: 38px;
    $items: 3;
    $interval: 20px;

    width: $items*$item_width + ($items - 1)*$interval;
    margin: 0 auto;

    li {
        margin-right: $interval;
        &:last-child { margin-right: 0; }

        img {
            width: $item_width;
            cursor: pointer;
        }
    }
}

DIV.postcmt {
    padding:50px 0 0 0;
}

DIV.infoframe {
    width:256px;
    background-color:#f0f0f0;
    padding:19px;
    margin:0 0 22px 0;
    position:relative;
    @include border-radius(3px);
}

DIV.adtinfo {
    float: right;
    padding: 85px 0 0 0;
}

UL.infohead {
    padding: 0 0 16px 0;
    margin: 0 0 45px 0;
    border-bottom: 1px solid #e5e7e7;
    LI {
        font-size: 12px;
        color: #69a9dc;
        &.first {margin: 0 11px 0 0;}
    }
    IMG {
        display:block;
    }
}
/*UL.infohead LI.name{padding:6px 0 0 0;}
UL.infohead LI.privacy{width: 130px; padding:6px 0 0 0;}
UL.infohead LI P{font-size:12px;}
UL.infohead LI P.fixed{color:#69a9dc;}*/

DIV.infoframe P.sharefb {
    width: 256px;
    text-align: center;
    font-size: 13px;
    margin: 0 0 15px 0;
}

UL.fbpost_btn {
    padding: 0 0 0 51px;
    margin: 0 0 34px 0;
}

UL.fblike_btn {
    margin: 0 0 26px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e7e7;
}


.infostats {
    width:230px;
    padding: 10px 0 0 0;
    position: relative;
    @include border-radius(3px);

    ul {
        li {
            width: 72px;
            text-align: center;

            &.middle {
                margin: 0 7px;
            }
            p {
                margin: 0 0 5px 0;
                color: #de8910;
                font-size: 14px;
            }
            span{
                display: block;
                text-align: center;
                padding: 15px 0 10px 0;
                @include mainFont(34px);
                color: #90c8f5;
                background-color: #fff;
                @include border-radius(3px);
            }
        }
    }

}


//.post_fb {
//    float: right;
//    width: 130px;
//    height: 32px;
//    display: block;
//    padding: 15px 0 0 18px;
//    @include mainFont(16px);
//    color: #fff;
//    text-transform: uppercase;
//    text-decoration: none;
//    text-shadow: 1px 1px 1px #335d95;
//    filter: dropshadow(color=#335d95, offx=1, offy=1);
//    background:transparent url('../images/btn.png') no-repeat 0 -312px;
//
//    &:hover {
//        background:transparent url('../images/btn.png') no-repeat -148px -312px;
//    }
//}
//
//.fulfilled {
//    padding:3px 0 0 0;
//    display:block;
//
//    a {
//        display:block;
//        width:84px;
//        height:61px;
//        background-color:#fff;
//        @include border-radius(3px);
//
//        &.default {
//            background:#fff url('../images/btn.png') no-repeat -502px -267px;
//            &:hover{background-color:#f2f9ff;}
//            &:active{background:#fff url('../images/btn.png') no-repeat -502px -207px;}
//        }
//        &.done{
//            background:#fff url('../images/btn.png') no-repeat -502px -207px;
//            &:hover{background-color:#f2f9ff;}
//            &:active{background:#fff url('../images/btn.png') no-repeat -502px -267px;}
//        }
//    }
//}

// TODO
.refresh_lists {
    cursor: pointer;
}
